Buscar Sell In y Sell Out,  se leen y guardan ambos DF se llaman sellin y sellout respectivamente, pero se empieza con el sell in mas abajo continuar con sell out luego de juntar las Parte 1, 2 y 3 (EXCLUYENDO GRANDES TIENDAS)

In [1]:
import os
import glob
import pandas as pd
from datetime import datetime

In [2]:
# Obtener el año y mes actual en el formato YYYY y MM
fecha_actual = pd.Timestamp.now()
año_actual = fecha_actual.year
mes_actual = fecha_actual.strftime("%m")
ruta_base_usuario = os.path.expanduser("~")
ruta_directorio_base = os.path.join(ruta_base_usuario, "DERCO CHILE REPUESTOS SpA", "Planificación y abastecimiento - Documentos", "Planificación y Compras Ventas", "Venta Historica Mensual")
ruta_directorio = os.path.join(ruta_directorio_base, str(año_actual), f"{año_actual}-{mes_actual}")

# Buscar el archivo que contiene "Sell In" en su nombre
archivo_sellin = None
for archivo in os.listdir(ruta_directorio):
    if "Sell In" in archivo:
        archivo_sellin = archivo
        break


if archivo_sellin:
    ruta_archivo_sellin = os.path.join(ruta_directorio, archivo_sellin)
    sellin = pd.read_excel(ruta_archivo_sellin, sheet_name="Sheet1")  # Leer la hoja "Sheet1"
    print("Se leyó el archivo de Sell In:", ruta_archivo_sellin)
else:
    print("No se encontró ningún archivo con 'Sell In' en su nombre.")

Se leyó el archivo de Sell In: C:\Users\etorres.DERCOPARTS\DERCO CHILE REPUESTOS SpA\Planificación y abastecimiento - Documentos\Planificación y Compras Ventas\Venta Historica Mensual\2024\2024-10\2024.10 Sell In MB51 Septiembre S4.xlsx

In [3]:
sellin.columns

Index(['Ce.', 'Material', 'Texto breve de material', 'CMv', 'Doc.mat.',
       'Fe.contab.', '   Ctd.en UME', 'UME', '     Importe ML', 'Mon.',
       'Cantidad', ' Ctd.en', 'Ctd.UMPP', 'Pedido', 'Texto de clase-mov.',
       'UMP', 'UMB', 'UMP.1', 'Cliente', 'Ult.Eslabón', 'Sector_MU',
       'Nombre Sector', 'Canal', 'Nuevo Canal', 'Venta UMB', 'Tipo',
       'Forecast AFM', 'ID', 'Año', 'Mes', 'Semana ISO'],
      dtype='object')

Achicar Sellin & SellOut

In [4]:
sellin.rename(columns={'Nuevo Canal': 'Canal 2'}, inplace=True)

In [5]:
# sellout = sellout[['Ce.', 'Material', 'Texto breve de material', 'Fe.contab.', 'Cliente', 'Ult.EslabÃ³n', 'Nombre Sector', 'Canal', 'Tipo', 'Forecast AFM', 'Venta UMB', 'Semana ISO', 'Canal 2', 'ID']]
sellin = sellin[['Ce.', 'Material', 'Texto breve de material', 'Fe.contab.', 'Cliente', 'Ult.Eslabón', 'Canal', 'Tipo', 'Forecast AFM', 'Venta UMB', 'Semana ISO', 'Canal 2', 'ID']]

In [6]:
# sellin_filtrado = sellin[sellin['Venta UMB'] >= 0]
# sellin_filtrado.head(10)

In [7]:
df_sellin=sellin

In [8]:
df_sellin.columns

Index(['Ce.', 'Material', 'Texto breve de material', 'Fe.contab.', 'Cliente',
       'Ult.Eslabón', 'Canal', 'Tipo', 'Forecast AFM', 'Venta UMB',
       'Semana ISO', 'Canal 2', 'ID'],
      dtype='object')

Esto hay que cambiarlo ya que el sellin semanal ya viene con Nuevo Canal como columna y el mensual igual debería

In [9]:
df_sellin.rename(columns={'Canal 2': 'Nuevo Canal'}, inplace=True)

EVALUAR SI SE MODIFICA Y SE SACA EL FORECAST AFM = SI YA QUE MAS ADELANTES NOS QUEDAMOS CON LOS CANALES"

In [10]:
# df_sellin_filtered = df_sellin[df_sellin['Forecast AFM'].str.lower() == 'si']
df_sellin_filtered = df_sellin


# EVALUAR SI SE MODIFICA ESTA PARTE

In [11]:
td_sellin = df_sellin_filtered.groupby(['Material', 'Nuevo Canal'])['Venta UMB'].sum().reset_index()

In [12]:
sellinx = td_sellin[td_sellin['Venta UMB'] >= 0]
td_sellin = sellinx
x=td_sellin['Venta UMB'].sum()
x

705549

In [13]:
td_sellin.head(2)

   Material Nuevo Canal  Venta UMB
0    100483      Retail          7
1    100487      Retail         27

LEYENDO MAESTRA CANALES PARA USARLA DESPUES

CORREGIR PARA QUE LA USE CUALQUIER USUARIO

In [14]:
td_sellin.columns

Index(['Material', 'Nuevo Canal', 'Venta UMB'], dtype='object')

In [15]:
valores_unicos_nuevo_canal = td_sellin['Nuevo Canal'].unique()
print("Valores únicos en la columna 'Nuevo Canal':")
print(valores_unicos_nuevo_canal)

Valores únicos en la columna 'Nuevo Canal':
['Retail' 'Mayorista' 'CES 01' 'Walmart' 'Recasur' 'Sodimac' 'Dacovi'
 'Easy' 'SMU' 'Tottus']

EVALUAR SI SE SACA ESTE BLOQUE

In [16]:
# valores_deseados = ['CES 01', 'Mayorista']
# td_sellin = td_sellin[td_sellin['Nuevo Canal'].isin(valores_deseados)]
# td_sellin.head(2)
# #evaluar si sacar este bloque!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [17]:
x=td_sellin['Venta UMB'].sum()
x

705549

In [18]:
valores_unicos_nuevo_canal = td_sellin['Nuevo Canal'].unique()
print("Valores únicos en la columna 'Nuevo Canal':")
print(valores_unicos_nuevo_canal)

Valores únicos en la columna 'Nuevo Canal':
['Retail' 'Mayorista' 'CES 01' 'Walmart' 'Recasur' 'Sodimac' 'Dacovi'
 'Easy' 'SMU' 'Tottus']

In [19]:
td_sellin.head(1)

   Material Nuevo Canal  Venta UMB
0    100483      Retail          7

In [20]:
# suma_venta_umb = df_combinado['Venta'].sum()
# print("La suma de la columna 'venta_umb' es:", suma_venta_umb)
# # La suma de la columna 'venta_umb' es: 86635289

DEFINIR QUE PARQUET SE IRÁ A BUSCAR, AQUI AUTOMATICAMENTE BUSCA EL PARQUET QUE TENGA EN SU NOMBRE EL N-2 EN CUANTO A MESES, YA QUE EL MES PASADO SE GUARDÓ CON EL NOMBRE DEL MES ANTERIOR A ESE MES. PARA SABER CUAL FUE LA ULTIMA VENTA QUE SE LE AGREGÓ AL PARQUET

In [21]:
import os
import datetime
import pandas as pd

user = os.path.expanduser('~').split('\\')[-1]

ruta_archivo_manual = os.path.join(
    os.path.expanduser('~'),
    'DERCO CHILE REPUESTOS SpA',
    'Planificación y abastecimiento - Documentos',
    'Planificación y Compras AFM',
    'S&OP Demanda',
    'Codigos Demanda',
    'Parquets',
    'Historia_Sell_In.parquet'
)

two_months_ago = (datetime.datetime.now() - pd.DateOffset(months=2)).strftime('%Y-%m')

ruta_archivo_automatica = os.path.join(
    os.path.expanduser('~'),
    'DERCO CHILE REPUESTOS SpA',
    'Planificación y abastecimiento - Documentos',
    'Planificación y Compras AFM',
    'S&OP Demanda',
    'Codigos Demanda',
    'Parquets',
    f'Historia_Sell_In ({two_months_ago}).parquet'
)

print(f"Ruta archivo manual: {ruta_archivo_manual}")
print(f"Ruta archivo automática: {ruta_archivo_automatica}")

Ruta archivo manual: C:\Users\etorres.DERCOPARTS\DERCO CHILE REPUESTOS SpA\Planificación y abastecimiento - Documentos\Planificación y Compras AFM\S&OP Demanda\Codigos Demanda\Parquets\Historia_Sell_In.parquet
Ruta archivo automática: C:\Users\etorres.DERCOPARTS\DERCO CHILE REPUESTOS SpA\Planificación y abastecimiento - Documentos\Planificación y Compras AFM\S&OP Demanda\Codigos Demanda\Parquets\Historia_Sell_In (2024-08).parquet

In [22]:
ruta_archivo = ruta_archivo_automatica

In [23]:
ruta_archivo

'C:\\Users\\etorres.DERCOPARTS\\DERCO CHILE REPUESTOS SpA\\Planificación y abastecimiento - Documentos\\Planificación y Compras AFM\\S&OP Demanda\\Codigos Demanda\\Parquets\\Historia_Sell_In (2024-08).parquet'

In [25]:


# Leer el archivo Parquet
df_combinado = pd.read_parquet(ruta_archivo)

# Verificar los nombres de las columnas del DataFrame
print("Nombres de las columnas del DataFrame:", df_combinado.columns)

# Si la columna "Año/Mes Natural" existe, transformar a formato fecha DD-MM-YYYY
if 'Año/Mes natural' in df_combinado.columns:
    df_combinado['Año/Mes natural'] = pd.to_datetime(df_combinado['Año/Mes natural'], format='%d-%m-%Y')
    df_combinado['Año/Mes natural'] = df_combinado['Año/Mes natural'].dt.strftime('%d-%m-%Y')
else:
    print("La columna 'Año/Mes Natural' no existe en el DataFrame.")

# Obtener el shape del DataFrame
shape = df_combinado.shape

# Obtener los tipos de datos de cada columna
dtypes = df_combinado.dtypes

# Calcular la suma de la columna 'Venta UMB'
suma_venta_umb = df_combinado['Venta'].sum()

# Imprimir los resultados
print("Shape del DataFrame:", shape)
print("\nTipos de datos de cada columna:\n", dtypes)
print("\nSuma de la columna 'Venta UMB':", suma_venta_umb)
if 'Año/Mes Natural' in df_combinado.columns:
    print("\nPrimeras filas del DataFrame con la columna 'Año/Mes Natural' transformada:\n", df_combinado.head())
else:
    print("\nPrimeras filas del DataFrame:\n", df_combinado.head())

Nombres de las columnas del DataFrame: Index(['Año/Mes natural', 'Material', 'Canal', 'Venta', 'Fuente',
       'Ultimo Eslabón', 'Reemplazo Manual AFM', 'Nuevo Canal', 'Sector',
       'Canal 3'],
      dtype='object')
Shape del DataFrame: (2767866, 10)

Tipos de datos de cada columna:
 Año/Mes natural          object
Material                 object
Canal                    object
Venta                   float64
Fuente                   object
Ultimo Eslabón           object
Reemplazo Manual AFM     object
Nuevo Canal              object
Sector                   object
Canal 3                  object
dtype: object

Suma de la columna 'Venta UMB': 90560403.002

Primeras filas del DataFrame:
   Año/Mes natural Material   Canal  Venta  \
0      01-01-2018  1000302  CES 01    3.0
1      01-02-2018  1000302  CES 01    2.0
2      01-03-2018  1000302  CES 01    3.0
3      01-04-2018  1000302  CES 01   13.0
4      01-05-2018  1000302  CES 01    5.0

                                         Fuente Ultimo Eslabón  \
0  Base Sell In Corrección DIC-20 (2018-May 21)        1161036
1  Base Sell In Corrección DIC-20 (2018-May 21)        1161036
2  Base Sell In Corrección DIC-20 (2018-May 21)        1161036
3  Base Sell In Corrección DIC-20 (2018-May 21)        1161036
4  Base Sell In Corrección DIC-20 (2018-May 21)        1161036

  Reemplazo Manual AFM Nuevo Canal Sector    Canal 3
0              1107195      CES 01  Mazda  CL CES 01
1              1107195      CES 01  Mazda  CL CES 01
2              1107195      CES 01  Mazda  CL CES 01
3              1107195      CES 01  Mazda  CL CES 01
4              1107195      CES 01  Mazda  CL CES 01

In [26]:
# df_combinado.drop('Nombre Sector', axis=1, inplace=True)

In [27]:
df_combinado.columns

Index(['Año/Mes natural', 'Material', 'Canal', 'Venta', 'Fuente',
       'Ultimo Eslabón', 'Reemplazo Manual AFM', 'Nuevo Canal', 'Sector',
       'Canal 3'],
      dtype='object')

In [28]:
df_combinado

,Año/Mes natural,Material,Canal,Venta,Fuente,Ultimo Eslabón,Reemplazo Manual AFM,Nuevo Canal,Sector,Canal 3
0,01-01-2018,1000302,CES 01,3.0,Base Sell In Corrección DIC-20 (2018-May 21),1161036,1107195,CES 01,Mazda,CL CES 01
1,01-02-2018,1000302,CES 01,2.0,Base Sell In Corrección DIC-20 (2018-May 21),1161036,1107195,CES 01,Mazda,CL CES 01
2,01-03-2018,1000302,CES 01,3.0,Base Sell In Corrección DIC-20 (2018-May 21),1161036,1107195,CES 01,Mazda,CL CES 01
3,01-04-2018,1000302,CES 01,13.0,Base Sell In Corrección DIC-20 (2018-May 21),1161036,1107195,CES 01,Mazda,CL CES 01
4,01-05-2018,1000302,CES 01,5.0,Base Sell In Corrección DIC-20 (2018-May 21),1161036,1107195,CES 01,Mazda,CL CES 01
...,...,...,...,...,...,...,...,...,...,...
2767861,01-08-2024,1171269,Mayorista,16.0,Sell In Ago-24,1171269,None,None,NEU,CL MAYORISTA
2767862,01-08-2024,1171273,Mayorista,56.0,Sell In Ago-24,1171273,None,None,NEU,CL MAYORISTA
2767863,01-08-2024,1171400,Mayorista,32.0,Sell In Ago-24,1171400,None,None,NEU,CL MAYORISTA
2767864,01-08-2024,1171442,Retail,340.0,Sell In Ago-24,1171442,None,None,ACC,CL RETAIL
2767865,01-08-2024,1171444,Retail,255.0,Sell In Ago-24,1171444,None,None,ACC,CL RETAIL

Buscar Cod_Actual del año y mes actual EN EXCEL

In [29]:
# user_name = os.getlogin()
# now = datetime.now()
# year_month = now.strftime('%Y-%m')
# base_path = fr"C:\Users\{user_name}\DERCO CHILE REPUESTOS SpA\Planificación y abastecimiento AFM - Documentos\Planificación y Compras Maestros\{now.year}\{year_month}"
# pattern = os.path.join(base_path, '*COD_ACTUAL*.xlsx')
# files = glob.glob(pattern)
# files = [f for f in files if 'R3' not in os.path.basename(f)]

# if not files:
#     raise FileNotFoundError("No se encontraron archivos.")
    
# latest_file = max(files, key=os.path.getmtime)
# df = pd.read_excel(latest_file)
# print(f"Archivo leído: {latest_file}")

# eslabon = df[['Nro_pieza_fabricante_1', 'Cod_Actual_1']].copy()
# eslabon.rename(columns={'Nro_pieza_fabricante_1': 'Material'}, inplace=True)
# print(eslabon.head(2))

Buscar Cod_Actual del año y mes actual EN CSV

In [30]:
import os
import pandas as pd
import datetime
import glob

usuario = os.path.expanduser('~').split('\\')[-1]
año_actual = datetime.datetime.now().year
mes_actual = datetime.datetime.now().strftime('%m')

ruta_directorio = f"C:\\Users\\{usuario}\\DERCO CHILE REPUESTOS SpA\\Planificación y abastecimiento - Documentos\\Planificación y Compras Maestros\\{año_actual}\\{año_actual}-{mes_actual}\\MaestrosCSV\\"
archivos_cod = glob.glob(os.path.join(ruta_directorio, "*COD*.csv"))

if archivos_cod:
    archivo_cod = archivos_cod[0]
    ultimoeslabon = pd.read_csv(archivo_cod, delimiter=';', encoding='latin-1', decimal=',')
else:
    print("No se encontró ningún archivo que contenga 'COD' en el nombre en el directorio especificado.")

In [31]:
ultimoeslabon

,Clave PIC,NÂº sec.,Nro_pieza_fabricante_1,Cod_Actual_1,Nro_pieza_fabricante,Cod_actual,VÃ¡l.desde,Estado
0,0050569B923C1ED9918211FCBAC87849,1,102288,582655,[#]102288,[#]582655,NaN,INACT
1,0050569B923C1ED9918211FCBAC87849,2,501216,582655,[#]501216,[#]582655,13.08.2009,INACT
2,0050569B923C1ED9918211FCBAC87849,3,582655,582655,[#]582655,[#]582655,19.04.2018,ACT
3,0050569B923C1ED991821218F7489849,1,167639,580659,[#]167639,[#]580659,NaN,INACT
4,0050569B923C1ED991821218F7489849,2,580659,580659,[#]580659,[#]580659,11.09.2015,ACT
...,...,...,...,...,...,...,...,...
93412,0050569BA1371EEF9ABE0B069552D23E,2,1171603,1171603,[#]1171603,[#]1171603,03.09.2024,ACT
93413,0050569BA1371EEF9ABE269A79B4D23E,1,120398,1171609,[#]120398,[#]1171609,NaN,INACT
93414,0050569BA1371EEF9ABE269A79B4D23E,2,1171609,1171609,[#]1171609,[#]1171609,03.09.2024,ACT
93415,0050569BA1371EEF9ABE57ED1929123E,1,1006570,1171610,[#]1006570,[#]1171610,NaN,INACT
93416,0050569BA1371EEF9ABE57ED1929123E,2,1171610,1171610,[#]1171610,[#]1171610,03.09.2024,ACT

In [32]:

eslabon = ultimoeslabon[['Nro_pieza_fabricante_1', 'Cod_Actual_1']].copy()
eslabon.rename(columns={'Nro_pieza_fabricante_1': 'Material'}, inplace=True)
print(eslabon.head(2))

  Material Cod_Actual_1
0   102288       582655
1   501216       582655

In [33]:
td_sellin

      Material Nuevo Canal  Venta UMB
0       100483      Retail          7
1       100487      Retail         27
2       100492      Retail         14
3       100494      Retail         55
4       100495      Retail          9
...        ...         ...        ...
8138   1171700      Retail         58
8139   1171701      Retail         44
8140   1171702      Retail         84
8141   1171703      Retail         27
8142   1171728      Retail          3

[8108 rows x 3 columns]

In [34]:
eslabon['Material'] = eslabon['Material'].astype(str)
td_sellin['Material'] = td_sellin['Material'].astype(str)

CRUCE UE

In [35]:
td_sellin.head(1)

  Material Nuevo Canal  Venta UMB
0   100483      Retail          7

Agregando Sellin AÑO/MES ACTUAL a la historia y poniendo que tipo de venta es

In [36]:
df_combinado.tail(2)

,Año/Mes natural,Material,Canal,Venta,Fuente,Ultimo Eslabón,Reemplazo Manual AFM,Nuevo Canal,Sector,Canal 3
2767864,01-08-2024,1171442,Retail,340.0,Sell In Ago-24,1171442,None,None,ACC,CL RETAIL
2767865,01-08-2024,1171444,Retail,255.0,Sell In Ago-24,1171444,None,None,ACC,CL RETAIL

In [37]:
td_sellin.head(2)

  Material Nuevo Canal  Venta UMB
0   100483      Retail          7
1   100487      Retail         27

In [38]:
from datetime import datetime, timedelta
# Diccionario de meses abreviados en español
meses_abreviados = {
    1: 'Ene', 2: 'Feb', 3: 'Mar', 4: 'Abr', 5: 'May', 6: 'Jun',
    7: 'Jul', 8: 'Ago', 9: 'Sept', 10: 'Oct', 11: 'Nov', 12: 'Dic'
}

nuevas_filas = td_sellin.copy()
nuevas_filas.rename(columns={'Nuevo Canal': 'Canal', 'Venta UMB': 'Venta'}, inplace=True)

# Obtener las fechas relevantes
fecha_actual = datetime.now().replace(day=1)  # Primer día del mes actual
fecha_mes_anterior = fecha_actual - timedelta(days=1)  # Retrocede un día para llegar al mes anterior
fecha_mes_anterior = fecha_mes_anterior.replace(day=1)  # Primer día del mes anterior

# Formatear fechas para columnas específicas
fecha_mes_anterior_str = fecha_mes_anterior.strftime('%d-%m-%Y')
mes_numero = fecha_mes_anterior.month  # Obtiene el número del mes anterior
mes_abreviado = meses_abreviados[mes_numero]  # Usa el diccionario para obtener la abreviatura en español
ano_actual_yy = fecha_mes_anterior.strftime('%y')  # Año actual en formato YY

# Añadir la columna 'Año/Mes natural'
nuevas_filas['Año/Mes natural'] = fecha_mes_anterior_str

# Añadir la columna 'Fuente' con el formato requerido
nuevas_filas['Fuente'] = f"Sell In {mes_abreviado}-{ano_actual_yy}"

# Asegurar que todas las columnas de df_combinado estén en nuevas_filas
for col in df_combinado.columns:
    if col not in nuevas_filas:
        nuevas_filas[col] = None  # Añade columnas faltantes como None o un valor por defecto

In [39]:
df_combinado

,Año/Mes natural,Material,Canal,Venta,Fuente,Ultimo Eslabón,Reemplazo Manual AFM,Nuevo Canal,Sector,Canal 3
0,01-01-2018,1000302,CES 01,3.0,Base Sell In Corrección DIC-20 (2018-May 21),1161036,1107195,CES 01,Mazda,CL CES 01
1,01-02-2018,1000302,CES 01,2.0,Base Sell In Corrección DIC-20 (2018-May 21),1161036,1107195,CES 01,Mazda,CL CES 01
2,01-03-2018,1000302,CES 01,3.0,Base Sell In Corrección DIC-20 (2018-May 21),1161036,1107195,CES 01,Mazda,CL CES 01
3,01-04-2018,1000302,CES 01,13.0,Base Sell In Corrección DIC-20 (2018-May 21),1161036,1107195,CES 01,Mazda,CL CES 01
4,01-05-2018,1000302,CES 01,5.0,Base Sell In Corrección DIC-20 (2018-May 21),1161036,1107195,CES 01,Mazda,CL CES 01
...,...,...,...,...,...,...,...,...,...,...
2767861,01-08-2024,1171269,Mayorista,16.0,Sell In Ago-24,1171269,None,None,NEU,CL MAYORISTA
2767862,01-08-2024,1171273,Mayorista,56.0,Sell In Ago-24,1171273,None,None,NEU,CL MAYORISTA
2767863,01-08-2024,1171400,Mayorista,32.0,Sell In Ago-24,1171400,None,None,NEU,CL MAYORISTA
2767864,01-08-2024,1171442,Retail,340.0,Sell In Ago-24,1171442,None,None,ACC,CL RETAIL
2767865,01-08-2024,1171444,Retail,255.0,Sell In Ago-24,1171444,None,None,ACC,CL RETAIL

In [40]:
nuevas_filas

,Material,Canal,Venta,Año/Mes natural,Fuente,Ultimo Eslabón,Reemplazo Manual AFM,Nuevo Canal,Sector,Canal 3
0,100483,Retail,7,01-09-2024,Sell In Sept-24,None,None,None,None,None
1,100487,Retail,27,01-09-2024,Sell In Sept-24,None,None,None,None,None
2,100492,Retail,14,01-09-2024,Sell In Sept-24,None,None,None,None,None
3,100494,Retail,55,01-09-2024,Sell In Sept-24,None,None,None,None,None
4,100495,Retail,9,01-09-2024,Sell In Sept-24,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...
8138,1171700,Retail,58,01-09-2024,Sell In Sept-24,None,None,None,None,None
8139,1171701,Retail,44,01-09-2024,Sell In Sept-24,None,None,None,None,None
8140,1171702,Retail,84,01-09-2024,Sell In Sept-24,None,None,None,None,None
8141,1171703,Retail,27,01-09-2024,Sell In Sept-24,None,None,None,None,None
8142,1171728,Retail,3,01-09-2024,Sell In Sept-24,None,None,None,None,None

In [41]:
# Concatenar el DataFrame original con las nuevas filas
df_combinado_actualizado2 = pd.concat([df_combinado, nuevas_filas], ignore_index=True)

In [42]:
df_combinado_actualizado2.tail(2)

,Año/Mes natural,Material,Canal,Venta,Fuente,Ultimo Eslabón,Reemplazo Manual AFM,Nuevo Canal,Sector,Canal 3
2775972,01-09-2024,1171703,Retail,27.0,Sell In Sept-24,None,None,None,None,None
2775973,01-09-2024,1171728,Retail,3.0,Sell In Sept-24,None,None,None,None,None

Guardar el archivo en tres tipos de archivo que traen la historia de venta actualizada

PONIENDOLE EL CANAL 3 CORREPSONDIENTE

In [43]:

lista_1 = ["Retail", "CES 01", "FyC 03", "Mayorista", "May AP", "Sodimac", "Walmart", "Easy", "Tottus", 
           "SMU", "Interfilial", "IE", "Colombia", "Bolivia", "Recasur", "Dacovi", "GT", "Perú", "Flotas"]
lista_2 = ["CL RETAIL", "CL CES 01", "CL FYC 03", "CL MAYORISTA", "CL MAY AP", "CL SODIMAC", "CL WALMART", 
           "CL EASY", "CL TOTTUS", "CL SMU", "NO APLICA", "NO APLICA", "NO APLICA", "NO APLICA", 
           "NO APLICA", "NO APLICA", "NO APLICA", "NO APLICA", "CL FYC 03"]
mapa_canal = dict(zip(lista_1, lista_2))

indice_nuevas_filas = range(len(df_combinado_actualizado2) - len(nuevas_filas), len(df_combinado_actualizado2))


df_combinado_actualizado2.loc[indice_nuevas_filas, 'Canal 3'] = df_combinado_actualizado2.loc[indice_nuevas_filas, 'Canal'].map(mapa_canal)

In [44]:
df_combinado_actualizado2

,Año/Mes natural,Material,Canal,Venta,Fuente,Ultimo Eslabón,Reemplazo Manual AFM,Nuevo Canal,Sector,Canal 3
0,01-01-2018,1000302,CES 01,3.0,Base Sell In Corrección DIC-20 (2018-May 21),1161036,1107195,CES 01,Mazda,CL CES 01
1,01-02-2018,1000302,CES 01,2.0,Base Sell In Corrección DIC-20 (2018-May 21),1161036,1107195,CES 01,Mazda,CL CES 01
2,01-03-2018,1000302,CES 01,3.0,Base Sell In Corrección DIC-20 (2018-May 21),1161036,1107195,CES 01,Mazda,CL CES 01
3,01-04-2018,1000302,CES 01,13.0,Base Sell In Corrección DIC-20 (2018-May 21),1161036,1107195,CES 01,Mazda,CL CES 01
4,01-05-2018,1000302,CES 01,5.0,Base Sell In Corrección DIC-20 (2018-May 21),1161036,1107195,CES 01,Mazda,CL CES 01
...,...,...,...,...,...,...,...,...,...,...
2775969,01-09-2024,1171700,Retail,58.0,Sell In Sept-24,None,None,None,None,CL RETAIL
2775970,01-09-2024,1171701,Retail,44.0,Sell In Sept-24,None,None,None,None,CL RETAIL
2775971,01-09-2024,1171702,Retail,84.0,Sell In Sept-24,None,None,None,None,CL RETAIL
2775972,01-09-2024,1171703,Retail,27.0,Sell In Sept-24,None,None,None,None,CL RETAIL
2775973,01-09-2024,1171728,Retail,3.0,Sell In Sept-24,None,None,None,None,CL RETAIL

In [45]:
valores_unicos_nuevo_canal = df_combinado_actualizado2['Canal 3'].unique()
print(valores_unicos_nuevo_canal)

['CL CES 01' 'CL FYC 03' 'CL MAYORISTA' 'CL RETAIL' 'CL MAY AP'
 'CL WALMART' 'NO APLICA' 'CL SODIMAC' 'CL EASY' 'CL SMU' 'CL TOTTUS']

In [46]:
# merged_df2 = pd.merge(totalsellin, canales, left_on='Canal', right_on='Nuevo Canal', how='left')
# totalsellin['Nuevo Canal'] = merged_df2['Canal SAP']

In [47]:
valores_unicos_nuevo_canal = df_combinado_actualizado2['Año/Mes natural'].unique()
print(valores_unicos_nuevo_canal)

['01-01-2018' '01-02-2018' '01-03-2018' '01-04-2018' '01-05-2018'
 '01-06-2018' '01-07-2018' '01-08-2018' '01-09-2018' '01-10-2018'
 '01-11-2018' '01-12-2018' '01-01-2019' '01-02-2019' '01-03-2019'
 '01-04-2019' '01-05-2019' '01-06-2019' '01-07-2019' '01-08-2019'
 '01-09-2019' '01-10-2019' '01-11-2019' '01-12-2019' '01-01-2020'
 '01-02-2020' '01-03-2020' '01-04-2020' '01-05-2020' '01-06-2020'
 '01-07-2020' '01-08-2020' '01-09-2020' '01-10-2020' '01-11-2020'
 '01-12-2020' '01-01-2021' '01-02-2021' '01-03-2021' '01-04-2021'
 '01-05-2021' '01-10-2017' '01-11-2017' '01-12-2017' '01-06-2021'
 '01-07-2021' '01-08-2021' '01-09-2021' '01-10-2021' '01-11-2021'
 '01-12-2021' '01-01-2022' '01-02-2022' '01-03-2022' '01-04-2022'
 '01-05-2022' '01-07-2022' '01-08-2022' '01-09-2022' '01-10-2022'
 '01-11-2022' '01-12-2022' '01-01-2023' '01-02-2023' '01-03-2023'
 '01-04-2023' '01-05-2023' '01-06-2023' '01-07-2023' '01-08-2023'
 '01-09-2023' '01-10-2023' '01-11-2023' '01-12-2023' '01-03-2024'
 '01-03-2017' '01-04-2017' '01-05-2017' '01-06-2017' '01-08-2017'
 '01-09-2017' '01-06-2022' '01-01-2017' '01-02-2017' '01-07-2017'
 '01-02-2024' '01-11-2015' '01-01-2016' '01-02-2016' '01-03-2016'
 '01-04-2016' '01-05-2016' '01-06-2016' '01-07-2016' '01-08-2016'
 '01-09-2016' '01-10-2016' '01-11-2016' '01-12-2016' '01-01-2015'
 '01-02-2015' '01-03-2015' '01-04-2015' '01-05-2015' '01-06-2015'
 '01-07-2015' '01-08-2015' '01-09-2015' '01-10-2015' '01-12-2015'
 '01-04-2024' '01-06-2024' '01-07-2024' '01-05-2024' '01-08-2024'
 '01-01-2024' '01-09-2024']

Eliminar y Cruzar ultimo eslabón

In [48]:
consolidado = df_combinado_actualizado2

In [49]:
consolidado['Ultimo Eslabón'] = None
consolidado

,Año/Mes natural,Material,Canal,Venta,Fuente,Ultimo Eslabón,Reemplazo Manual AFM,Nuevo Canal,Sector,Canal 3
0,01-01-2018,1000302,CES 01,3.0,Base Sell In Corrección DIC-20 (2018-May 21),None,1107195,CES 01,Mazda,CL CES 01
1,01-02-2018,1000302,CES 01,2.0,Base Sell In Corrección DIC-20 (2018-May 21),None,1107195,CES 01,Mazda,CL CES 01
2,01-03-2018,1000302,CES 01,3.0,Base Sell In Corrección DIC-20 (2018-May 21),None,1107195,CES 01,Mazda,CL CES 01
3,01-04-2018,1000302,CES 01,13.0,Base Sell In Corrección DIC-20 (2018-May 21),None,1107195,CES 01,Mazda,CL CES 01
4,01-05-2018,1000302,CES 01,5.0,Base Sell In Corrección DIC-20 (2018-May 21),None,1107195,CES 01,Mazda,CL CES 01
...,...,...,...,...,...,...,...,...,...,...
2775969,01-09-2024,1171700,Retail,58.0,Sell In Sept-24,None,None,None,None,CL RETAIL
2775970,01-09-2024,1171701,Retail,44.0,Sell In Sept-24,None,None,None,None,CL RETAIL
2775971,01-09-2024,1171702,Retail,84.0,Sell In Sept-24,None,None,None,None,CL RETAIL
2775972,01-09-2024,1171703,Retail,27.0,Sell In Sept-24,None,None,None,None,CL RETAIL
2775973,01-09-2024,1171728,Retail,3.0,Sell In Sept-24,None,None,None,None,CL RETAIL

In [50]:

merged_df = pd.merge(consolidado, eslabon, on='Material', how='left')
merged_df['Ultimo Eslabón'] = merged_df['Cod_Actual_1'].fillna(merged_df['Material'])
merged_df = merged_df[consolidado.columns]

In [51]:
merged_df

,Año/Mes natural,Material,Canal,Venta,Fuente,Ultimo Eslabón,Reemplazo Manual AFM,Nuevo Canal,Sector,Canal 3
0,01-01-2018,1000302,CES 01,3.0,Base Sell In Corrección DIC-20 (2018-May 21),1161036,1107195,CES 01,Mazda,CL CES 01
1,01-02-2018,1000302,CES 01,2.0,Base Sell In Corrección DIC-20 (2018-May 21),1161036,1107195,CES 01,Mazda,CL CES 01
2,01-03-2018,1000302,CES 01,3.0,Base Sell In Corrección DIC-20 (2018-May 21),1161036,1107195,CES 01,Mazda,CL CES 01
3,01-04-2018,1000302,CES 01,13.0,Base Sell In Corrección DIC-20 (2018-May 21),1161036,1107195,CES 01,Mazda,CL CES 01
4,01-05-2018,1000302,CES 01,5.0,Base Sell In Corrección DIC-20 (2018-May 21),1161036,1107195,CES 01,Mazda,CL CES 01
...,...,...,...,...,...,...,...,...,...,...
2775969,01-09-2024,1171700,Retail,58.0,Sell In Sept-24,1171700,None,None,None,CL RETAIL
2775970,01-09-2024,1171701,Retail,44.0,Sell In Sept-24,1171701,None,None,None,CL RETAIL
2775971,01-09-2024,1171702,Retail,84.0,Sell In Sept-24,1171702,None,None,None,CL RETAIL
2775972,01-09-2024,1171703,Retail,27.0,Sell In Sept-24,1171703,None,None,None,CL RETAIL
2775973,01-09-2024,1171728,Retail,3.0,Sell In Sept-24,1171728,None,None,None,CL RETAIL

In [52]:
totalsellin = merged_df
totalsellin.columns

Index(['Año/Mes natural', 'Material', 'Canal', 'Venta', 'Fuente',
       'Ultimo Eslabón', 'Reemplazo Manual AFM', 'Nuevo Canal', 'Sector',
       'Canal 3'],
      dtype='object')

In [53]:
totalsellin.columns

Index(['Año/Mes natural', 'Material', 'Canal', 'Venta', 'Fuente',
       'Ultimo Eslabón', 'Reemplazo Manual AFM', 'Nuevo Canal', 'Sector',
       'Canal 3'],
      dtype='object')

In [54]:
totalsellin.tail(2)

,Año/Mes natural,Material,Canal,Venta,Fuente,Ultimo Eslabón,Reemplazo Manual AFM,Nuevo Canal,Sector,Canal 3
2775972,01-09-2024,1171703,Retail,27.0,Sell In Sept-24,1171703,None,None,None,CL RETAIL
2775973,01-09-2024,1171728,Retail,3.0,Sell In Sept-24,1171728,None,None,None,CL RETAIL

In [55]:
unicos2 = totalsellin['Nuevo Canal'].unique()
unicos2

array(['CES 01', 'FyC 03', 'Mayorista', 'Retail', 'Flotas', None,
       'May AP', 'Walmart', 'Sodimac', 'Easy', 'SMU', 'TOTTUS', 'Tottus',
       'Recasur', 'GT'], dtype=object)

ENCONTRAR Y LEER MARA EN LOS PROXIMOS BLOQUES PARA LUEGO CRUZAR LOS SECTORES, Y ADEMAS EN ESTA PARTE CRUZAMOS LA MAESTRA CANALES PARA SABER LOS CANALES ANASTASIA

In [56]:
import getpass
usuario = getpass.getuser()
año_actual = datetime.now().year
mes_actual = datetime.now().strftime('%m')
ruta = f"C:\\Users\\{usuario}\\DERCO CHILE REPUESTOS SpA\\Planificación y abastecimiento - Documentos\\Planificación y Compras Maestros\\{año_actual}\\{año_actual}-{mes_actual}\\MaestrosCSV\\"
archivo_mara = None
fecha_modificacion = None

In [57]:
ruta

'C:\\Users\\etorres\\DERCO CHILE REPUESTOS SpA\\Planificación y abastecimiento - Documentos\\Planificación y Compras Maestros\\2024\\2024-10\\MaestrosCSV\\'

LEER MARA EN CSV

In [58]:
import os
import pandas as pd
import datetime
import glob

usuario = os.path.expanduser('~').split('\\')[-1]
año_actual = datetime.datetime.now().year
mes_actual = datetime.datetime.now().strftime('%m')

ruta_directorio = f"C:\\Users\\{usuario}\\DERCO CHILE REPUESTOS SpA\\Planificación y abastecimiento - Documentos\\Planificación y Compras Maestros\\{año_actual}\\{año_actual}-{mes_actual}\\MaestrosCSV\\"
archivos_mara = glob.glob(os.path.join(ruta_directorio, "*MARA*.csv"))

if archivos_mara:
    archivo_mara = archivos_mara[0]
    mara = pd.read_csv(archivo_mara, delimiter=';')
else:
    print("No se encontró ningún archivo que contenga 'MARA' en el nombre en el directorio especificado.")

C:\Users\etorres.DERCOPARTS\AppData\Local\Temp\ipykernel_7808\359321146.py:15: DtypeWarning: Columns (3,11) have mixed types. Specify dtype option on import or set low_memory=False.
  mara = pd.read_csv(archivo_mara, delimiter=';')

In [59]:
dfmara=mara
dfmara.head(1)

,Material_S4,Material_dsc,Tipo_material,Grupo_articulos,Material_R3,UM_base,Sector_MU,Nombre_Sector,Tipo_material_mu,Part_number,...,Jquia_prod_MU,Jquia_prod,Art_familia,Art_subfamilia,Art_categoria,Art_subcategoria,GpoArt_grupo,GpoArt_categoria,GpoArt_subcategoria,GpoArt_partype
0,165571,"CABLE MINI AUDIO EXTREME 3,5MM 6FT AZUL",ZART,10101001,50901,UN,48,ACC,ZREP,[#]50901,...,030000010002000008,NaN,NaN,NaN,NaN,NaN,ACCESORIOS,ACCESORIOS,ACCESORIOS ELECTRONICOS,ADAPTADOR CARGADOR DE CELULAR

OPCION DE LEER MARA EN EXCEL

In [60]:
# for archivo in os.listdir(ruta):
#     if 'MARA' in archivo and 'S4' in archivo and archivo.endswith('.xlsx'):
#         ruta_completa = os.path.join(ruta, archivo)
#         modificacion_actual = os.path.getmtime(ruta_completa)
#         if fecha_modificacion is None or modificacion_actual > fecha_modificacion:
#             archivo_mara = ruta_completa
#             fecha_modificacion = modificacion_actual
# if archivo_mara:
#     dfmara = pd.read_excel(archivo_mara)
#     print("Archivo cargado correctamente.")
# else:
#     print("No se encontró un archivo que contenga 'MARA' y 'S4' en su nombre.")

In [61]:
dfmara['Material_S4'] = dfmara['Material_S4'].astype(str)
dfmara.rename(columns={'Nombre_Sector': 'Nombre Sector'}, inplace=True)

mara_reducido = dfmara[['Material_S4', 'Nombre Sector', 'Sector_MU']]

In [62]:
mara_reducido.columns

Index(['Material_S4', 'Nombre Sector', 'Sector_MU'], dtype='object')

In [63]:
totalsellin.tail(2)

,Año/Mes natural,Material,Canal,Venta,Fuente,Ultimo Eslabón,Reemplazo Manual AFM,Nuevo Canal,Sector,Canal 3
2775972,01-09-2024,1171703,Retail,27.0,Sell In Sept-24,1171703,None,None,None,CL RETAIL
2775973,01-09-2024,1171728,Retail,3.0,Sell In Sept-24,1171728,None,None,None,CL RETAIL

In [64]:
df_combinado

,Año/Mes natural,Material,Canal,Venta,Fuente,Ultimo Eslabón,Reemplazo Manual AFM,Nuevo Canal,Sector,Canal 3
0,01-01-2018,1000302,CES 01,3.0,Base Sell In Corrección DIC-20 (2018-May 21),1161036,1107195,CES 01,Mazda,CL CES 01
1,01-02-2018,1000302,CES 01,2.0,Base Sell In Corrección DIC-20 (2018-May 21),1161036,1107195,CES 01,Mazda,CL CES 01
2,01-03-2018,1000302,CES 01,3.0,Base Sell In Corrección DIC-20 (2018-May 21),1161036,1107195,CES 01,Mazda,CL CES 01
3,01-04-2018,1000302,CES 01,13.0,Base Sell In Corrección DIC-20 (2018-May 21),1161036,1107195,CES 01,Mazda,CL CES 01
4,01-05-2018,1000302,CES 01,5.0,Base Sell In Corrección DIC-20 (2018-May 21),1161036,1107195,CES 01,Mazda,CL CES 01
...,...,...,...,...,...,...,...,...,...,...
2767861,01-08-2024,1171269,Mayorista,16.0,Sell In Ago-24,1171269,None,None,NEU,CL MAYORISTA
2767862,01-08-2024,1171273,Mayorista,56.0,Sell In Ago-24,1171273,None,None,NEU,CL MAYORISTA
2767863,01-08-2024,1171400,Mayorista,32.0,Sell In Ago-24,1171400,None,None,NEU,CL MAYORISTA
2767864,01-08-2024,1171442,Retail,340.0,Sell In Ago-24,1171442,None,None,ACC,CL RETAIL
2767865,01-08-2024,1171444,Retail,255.0,Sell In Ago-24,1171444,None,None,ACC,CL RETAIL

In [65]:
totalsellin

,Año/Mes natural,Material,Canal,Venta,Fuente,Ultimo Eslabón,Reemplazo Manual AFM,Nuevo Canal,Sector,Canal 3
0,01-01-2018,1000302,CES 01,3.0,Base Sell In Corrección DIC-20 (2018-May 21),1161036,1107195,CES 01,Mazda,CL CES 01
1,01-02-2018,1000302,CES 01,2.0,Base Sell In Corrección DIC-20 (2018-May 21),1161036,1107195,CES 01,Mazda,CL CES 01
2,01-03-2018,1000302,CES 01,3.0,Base Sell In Corrección DIC-20 (2018-May 21),1161036,1107195,CES 01,Mazda,CL CES 01
3,01-04-2018,1000302,CES 01,13.0,Base Sell In Corrección DIC-20 (2018-May 21),1161036,1107195,CES 01,Mazda,CL CES 01
4,01-05-2018,1000302,CES 01,5.0,Base Sell In Corrección DIC-20 (2018-May 21),1161036,1107195,CES 01,Mazda,CL CES 01
...,...,...,...,...,...,...,...,...,...,...
2775969,01-09-2024,1171700,Retail,58.0,Sell In Sept-24,1171700,None,None,None,CL RETAIL
2775970,01-09-2024,1171701,Retail,44.0,Sell In Sept-24,1171701,None,None,None,CL RETAIL
2775971,01-09-2024,1171702,Retail,84.0,Sell In Sept-24,1171702,None,None,None,CL RETAIL
2775972,01-09-2024,1171703,Retail,27.0,Sell In Sept-24,1171703,None,None,None,CL RETAIL
2775973,01-09-2024,1171728,Retail,3.0,Sell In Sept-24,1171728,None,None,None,CL RETAIL

In [66]:
totalsellin['Material'] = totalsellin['Material'].apply(lambda x: str(x)[:-2] if '.' in str(x) and str(x).endswith('.0') else x)
totalsellin['Ultimo Eslabón'] = totalsellin['Ultimo Eslabón'].apply(lambda x: str(x)[:-2] if '.' in str(x) and str(x).endswith('.0') else x)

In [67]:
totalsellin

,Año/Mes natural,Material,Canal,Venta,Fuente,Ultimo Eslabón,Reemplazo Manual AFM,Nuevo Canal,Sector,Canal 3
0,01-01-2018,1000302,CES 01,3.0,Base Sell In Corrección DIC-20 (2018-May 21),1161036,1107195,CES 01,Mazda,CL CES 01
1,01-02-2018,1000302,CES 01,2.0,Base Sell In Corrección DIC-20 (2018-May 21),1161036,1107195,CES 01,Mazda,CL CES 01
2,01-03-2018,1000302,CES 01,3.0,Base Sell In Corrección DIC-20 (2018-May 21),1161036,1107195,CES 01,Mazda,CL CES 01
3,01-04-2018,1000302,CES 01,13.0,Base Sell In Corrección DIC-20 (2018-May 21),1161036,1107195,CES 01,Mazda,CL CES 01
4,01-05-2018,1000302,CES 01,5.0,Base Sell In Corrección DIC-20 (2018-May 21),1161036,1107195,CES 01,Mazda,CL CES 01
...,...,...,...,...,...,...,...,...,...,...
2775969,01-09-2024,1171700,Retail,58.0,Sell In Sept-24,1171700,None,None,None,CL RETAIL
2775970,01-09-2024,1171701,Retail,44.0,Sell In Sept-24,1171701,None,None,None,CL RETAIL
2775971,01-09-2024,1171702,Retail,84.0,Sell In Sept-24,1171702,None,None,None,CL RETAIL
2775972,01-09-2024,1171703,Retail,27.0,Sell In Sept-24,1171703,None,None,None,CL RETAIL
2775973,01-09-2024,1171728,Retail,3.0,Sell In Sept-24,1171728,None,None,None,CL RETAIL

In [68]:
totalsellin.shape

(2775974, 10)

In [69]:

df_filtrado = totalsellin[totalsellin['Año/Mes natural'] == '01-06-2024']
# Sumar la columna "Venta" del DataFrame filtrado
suma_ventas = df_filtrado['Venta'].sum()
# Imprimir el resultado
print("La suma de las ventas para el 01-06-2024 es:", suma_ventas)

La suma de las ventas para el 01-06-2024 es: 812355.0

In [70]:
totalsellin.tail

<bound method NDFrame.tail of         Año/Mes natural Material   Canal  Venta  \
0            01-01-2018  1000302  CES 01    3.0
1            01-02-2018  1000302  CES 01    2.0
2            01-03-2018  1000302  CES 01    3.0
3            01-04-2018  1000302  CES 01   13.0
4            01-05-2018  1000302  CES 01    5.0
...                 ...      ...     ...    ...
2775969      01-09-2024  1171700  Retail   58.0
2775970      01-09-2024  1171701  Retail   44.0
2775971      01-09-2024  1171702  Retail   84.0
2775972      01-09-2024  1171703  Retail   27.0
2775973      01-09-2024  1171728  Retail    3.0

                                               Fuente Ultimo Eslabón  \
0        Base Sell In Corrección DIC-20 (2018-May 21)        1161036
1        Base Sell In Corrección DIC-20 (2018-May 21)        1161036
2        Base Sell In Corrección DIC-20 (2018-May 21)        1161036
3        Base Sell In Corrección DIC-20 (2018-May 21)        1161036
4        Base Sell In Corrección DIC-20 (2018-May 21)        1161036
...                                               ...            ...
2775969                               Sell In Sept-24        1171700
2775970                               Sell In Sept-24        1171701
2775971                               Sell In Sept-24        1171702
2775972                               Sell In Sept-24        1171703
2775973                               Sell In Sept-24        1171728

        Reemplazo Manual AFM Nuevo Canal Sector    Canal 3
0                    1107195      CES 01  Mazda  CL CES 01
1                    1107195      CES 01  Mazda  CL CES 01
2                    1107195      CES 01  Mazda  CL CES 01
3                    1107195      CES 01  Mazda  CL CES 01
4                    1107195      CES 01  Mazda  CL CES 01
...                      ...         ...    ...        ...
2775969                 None        None   None  CL RETAIL
2775970                 None        None   None  CL RETAIL
2775971                 None        None   None  CL RETAIL
2775972                 None        None   None  CL RETAIL
2775973                 None        None   None  CL RETAIL

[2775974 rows x 10 columns]>

In [71]:
totalsellin['Ultimo Eslabón'] = totalsellin['Ultimo Eslabón'].astype(str)
mara_reducido.loc[:, 'Material_S4'] = mara_reducido['Material_S4'].astype(str)

In [72]:
mara_reducido

       Material_S4 Nombre Sector Sector_MU
0           165571           ACC        48
1           672246           ACC        48
2           672252           ACC        48
3           672253           ACC        48
4           672543           ACC        48
...            ...           ...       ...
451590     4000191      Sin Info        SV
451591     4000192      Sin Info        SV
451592     4000163  Sector Comun        00
451593     4000164      Sin Info        SV
451594     4000140  Sector Comun        00

[451595 rows x 3 columns]

In [73]:
totalsellin.columns

Index(['Año/Mes natural', 'Material', 'Canal', 'Venta', 'Fuente',
       'Ultimo Eslabón', 'Reemplazo Manual AFM', 'Nuevo Canal', 'Sector',
       'Canal 3'],
      dtype='object')

In [74]:
mara_reducido

       Material_S4 Nombre Sector Sector_MU
0           165571           ACC        48
1           672246           ACC        48
2           672252           ACC        48
3           672253           ACC        48
4           672543           ACC        48
...            ...           ...       ...
451590     4000191      Sin Info        SV
451591     4000192      Sin Info        SV
451592     4000163  Sector Comun        00
451593     4000164      Sin Info        SV
451594     4000140  Sector Comun        00

[451595 rows x 3 columns]

In [75]:
totalsellin.tail

<bound method NDFrame.tail of         Año/Mes natural Material   Canal  Venta  \
0            01-01-2018  1000302  CES 01    3.0
1            01-02-2018  1000302  CES 01    2.0
2            01-03-2018  1000302  CES 01    3.0
3            01-04-2018  1000302  CES 01   13.0
4            01-05-2018  1000302  CES 01    5.0
...                 ...      ...     ...    ...
2775969      01-09-2024  1171700  Retail   58.0
2775970      01-09-2024  1171701  Retail   44.0
2775971      01-09-2024  1171702  Retail   84.0
2775972      01-09-2024  1171703  Retail   27.0
2775973      01-09-2024  1171728  Retail    3.0

                                               Fuente Ultimo Eslabón  \
0        Base Sell In Corrección DIC-20 (2018-May 21)        1161036
1        Base Sell In Corrección DIC-20 (2018-May 21)        1161036
2        Base Sell In Corrección DIC-20 (2018-May 21)        1161036
3        Base Sell In Corrección DIC-20 (2018-May 21)        1161036
4        Base Sell In Corrección DIC-20 (2018-May 21)        1161036
...                                               ...            ...
2775969                               Sell In Sept-24        1171700
2775970                               Sell In Sept-24        1171701
2775971                               Sell In Sept-24        1171702
2775972                               Sell In Sept-24        1171703
2775973                               Sell In Sept-24        1171728

        Reemplazo Manual AFM Nuevo Canal Sector    Canal 3
0                    1107195      CES 01  Mazda  CL CES 01
1                    1107195      CES 01  Mazda  CL CES 01
2                    1107195      CES 01  Mazda  CL CES 01
3                    1107195      CES 01  Mazda  CL CES 01
4                    1107195      CES 01  Mazda  CL CES 01
...                      ...         ...    ...        ...
2775969                 None        None   None  CL RETAIL
2775970                 None        None   None  CL RETAIL
2775971                 None        None   None  CL RETAIL
2775972                 None        None   None  CL RETAIL
2775973                 None        None   None  CL RETAIL

[2775974 rows x 10 columns]>

In [76]:
merged_df4 = pd.merge(totalsellin, mara_reducido, left_on='Ultimo Eslabón', right_on='Material_S4')

In [77]:
merged_df4.tail

<bound method NDFrame.tail of         Año/Mes natural Material   Canal  Venta  \
0            01-01-2018  1000302  CES 01    3.0
1            01-02-2018  1000302  CES 01    2.0
2            01-03-2018  1000302  CES 01    3.0
3            01-04-2018  1000302  CES 01   13.0
4            01-05-2018  1000302  CES 01    5.0
...                 ...      ...     ...    ...
2775969      01-09-2024  1171700  Retail   58.0
2775970      01-09-2024  1171701  Retail   44.0
2775971      01-09-2024  1171702  Retail   84.0
2775972      01-09-2024  1171703  Retail   27.0
2775973      01-09-2024  1171728  Retail    3.0

                                               Fuente Ultimo Eslabón  \
0        Base Sell In Corrección DIC-20 (2018-May 21)        1161036
1        Base Sell In Corrección DIC-20 (2018-May 21)        1161036
2        Base Sell In Corrección DIC-20 (2018-May 21)        1161036
3        Base Sell In Corrección DIC-20 (2018-May 21)        1161036
4        Base Sell In Corrección DIC-20 (2018-May 21)        1161036
...                                               ...            ...
2775969                               Sell In Sept-24        1171700
2775970                               Sell In Sept-24        1171701
2775971                               Sell In Sept-24        1171702
2775972                               Sell In Sept-24        1171703
2775973                               Sell In Sept-24        1171728

        Reemplazo Manual AFM Nuevo Canal Sector    Canal 3 Material_S4  \
0                    1107195      CES 01  Mazda  CL CES 01     1161036
1                    1107195      CES 01  Mazda  CL CES 01     1161036
2                    1107195      CES 01  Mazda  CL CES 01     1161036
3                    1107195      CES 01  Mazda  CL CES 01     1161036
4                    1107195      CES 01  Mazda  CL CES 01     1161036
...                      ...         ...    ...        ...         ...
2775969                 None        None   None  CL RETAIL     1171700
2775970                 None        None   None  CL RETAIL     1171701
2775971                 None        None   None  CL RETAIL     1171702
2775972                 None        None   None  CL RETAIL     1171703
2775973                 None        None   None  CL RETAIL     1171728

        Nombre Sector Sector_MU
0               Mazda        02
1               Mazda        02
2               Mazda        02
3               Mazda        02
4               Mazda        02
...               ...       ...
2775969          RALT        29
2775970          RALT        29
2775971          RALT        29
2775972          RALT        29
2775973          RALT        29

[2775974 rows x 13 columns]>

In [78]:
merged_df4.columns

Index(['Año/Mes natural', 'Material', 'Canal', 'Venta', 'Fuente',
       'Ultimo Eslabón', 'Reemplazo Manual AFM', 'Nuevo Canal', 'Sector',
       'Canal 3', 'Material_S4', 'Nombre Sector', 'Sector_MU'],
      dtype='object')

In [79]:
merged_df4.tail

<bound method NDFrame.tail of         Año/Mes natural Material   Canal  Venta  \
0            01-01-2018  1000302  CES 01    3.0
1            01-02-2018  1000302  CES 01    2.0
2            01-03-2018  1000302  CES 01    3.0
3            01-04-2018  1000302  CES 01   13.0
4            01-05-2018  1000302  CES 01    5.0
...                 ...      ...     ...    ...
2775969      01-09-2024  1171700  Retail   58.0
2775970      01-09-2024  1171701  Retail   44.0
2775971      01-09-2024  1171702  Retail   84.0
2775972      01-09-2024  1171703  Retail   27.0
2775973      01-09-2024  1171728  Retail    3.0

                                               Fuente Ultimo Eslabón  \
0        Base Sell In Corrección DIC-20 (2018-May 21)        1161036
1        Base Sell In Corrección DIC-20 (2018-May 21)        1161036
2        Base Sell In Corrección DIC-20 (2018-May 21)        1161036
3        Base Sell In Corrección DIC-20 (2018-May 21)        1161036
4        Base Sell In Corrección DIC-20 (2018-May 21)        1161036
...                                               ...            ...
2775969                               Sell In Sept-24        1171700
2775970                               Sell In Sept-24        1171701
2775971                               Sell In Sept-24        1171702
2775972                               Sell In Sept-24        1171703
2775973                               Sell In Sept-24        1171728

        Reemplazo Manual AFM Nuevo Canal Sector    Canal 3 Material_S4  \
0                    1107195      CES 01  Mazda  CL CES 01     1161036
1                    1107195      CES 01  Mazda  CL CES 01     1161036
2                    1107195      CES 01  Mazda  CL CES 01     1161036
3                    1107195      CES 01  Mazda  CL CES 01     1161036
4                    1107195      CES 01  Mazda  CL CES 01     1161036
...                      ...         ...    ...        ...         ...
2775969                 None        None   None  CL RETAIL     1171700
2775970                 None        None   None  CL RETAIL     1171701
2775971                 None        None   None  CL RETAIL     1171702
2775972                 None        None   None  CL RETAIL     1171703
2775973                 None        None   None  CL RETAIL     1171728

        Nombre Sector Sector_MU
0               Mazda        02
1               Mazda        02
2               Mazda        02
3               Mazda        02
4               Mazda        02
...               ...       ...
2775969          RALT        29
2775970          RALT        29
2775971          RALT        29
2775972          RALT        29
2775973          RALT        29

[2775974 rows x 13 columns]>

In [80]:

merged_df4['Sector'] = merged_df4['Nombre Sector']
final_df = merged_df4[['Año/Mes natural', 'Material', 'Canal', 'Venta', 'Fuente', 'Ultimo Eslabón', 'Reemplazo Manual AFM', 'Nuevo Canal', 'Sector', 'Canal 3']]
merged_df4.tail(2)

,Año/Mes natural,Material,Canal,Venta,Fuente,Ultimo Eslabón,Reemplazo Manual AFM,Nuevo Canal,Sector,Canal 3,Material_S4,Nombre Sector,Sector_MU
2775972,01-09-2024,1171703,Retail,27.0,Sell In Sept-24,1171703,None,None,RALT,CL RETAIL,1171703,RALT,29
2775973,01-09-2024,1171728,Retail,3.0,Sell In Sept-24,1171728,None,None,RALT,CL RETAIL,1171728,RALT,29

In [81]:
final_df.shape

df_filtrado = final_df[final_df['Año/Mes natural'] == '01-05-2024']

# Sumar la columna "Venta" del DataFrame filtrado
suma_ventas = df_filtrado['Venta'].sum()

# Imprimir el resultado
print("La suma de las ventas para el 01-05-2024 es:", suma_ventas)

La suma de las ventas para el 01-05-2024 es: 700099.0

GUARDAR PARQUET CON EL MES DE VENTA PASADO CERRADO

In [82]:
final_df['Sector'] = final_df['Sector'].astype(str)
final_df.dtypes

C:\Users\etorres.DERCOPARTS\AppData\Local\Temp\ipykernel_7808\1196100707.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['Sector'] = final_df['Sector'].astype(str)

Año/Mes natural          object
Material                 object
Canal                    object
Venta                   float64
Fuente                   object
Ultimo Eslabón           object
Reemplazo Manual AFM     object
Nuevo Canal              object
Sector                   object
Canal 3                  object
dtype: object

In [83]:
import os
from datetime import datetime, timedelta

usuario = os.path.expanduser('~').split(os.sep)[-1]
hoy = datetime.today()
primer_dia_mes_actual = hoy.replace(day=1)
mes_pasado = primer_dia_mes_actual - timedelta(days=1)
mes_pasado_str = mes_pasado.strftime("%Y-%m")
ruta = f"C:/Users/{usuario}/DERCO CHILE REPUESTOS SpA/Planificación y abastecimiento - Documentos/Planificación y Compras AFM/S&OP Demanda/Codigos Demanda/Parquets/Historia_Sell_In ({mes_pasado_str}).parquet"
final_df.to_parquet(ruta)

In [84]:
final_df.tail(2)

,Año/Mes natural,Material,Canal,Venta,Fuente,Ultimo Eslabón,Reemplazo Manual AFM,Nuevo Canal,Sector,Canal 3
2775972,01-09-2024,1171703,Retail,27.0,Sell In Sept-24,1171703,None,None,RALT,CL RETAIL
2775973,01-09-2024,1171728,Retail,3.0,Sell In Sept-24,1171728,None,None,RALT,CL RETAIL

In [85]:
sectores = final_df['Sector'].unique()
canalesf = final_df['Nuevo Canal'].unique()
sectores

array(['Mazda', 'JAC Cars', 'Suzuki', 'Renault', 'Great Wall', 'Samsung',
       'Geely', 'Changan', 'ACC', '0', 'JAC Truck', 'AXS', 'Suzuki Motos',
       'Suzuki Línea Fuerza', 'RALT', 'Kymco Motos', 'NEU',
       'Massey Ferguson', 'LUB', 'BAT', 'Implemento Agrícola', 'Landini',
       'RMAQ', 'Otras Marcas', 'Jacto', 'Stara', 'Still', 'Valtra',
       'Sector Comun', 'Zongshen Motos', 'Royal Enfield', 'SYM Motos',
       'Europard', 'Kverneland', 'JCB', 'Claas', 'Farmtrac', 'Chevrolet',
       'Hesston', 'Komatsu', 'Hangcha', 'Sin info', 'Foton'], dtype=object)

In [86]:
final_df.shape

(2775974, 10)

In [87]:
canales_deseados = ['CL CES 01','CL MAYORISTA']
sectores_deseados = ['ACC', 'BAT', 'NEU', 'LUB', 'RALT', 'RMAQ']

final_df = final_df.loc[
    (final_df['Canal 3'].isin(canales_deseados)) & 
    (final_df['Sector'].isin(sectores_deseados))
]
final_df.head(2)

,Año/Mes natural,Material,Canal,Venta,Fuente,Ultimo Eslabón,Reemplazo Manual AFM,Nuevo Canal,Sector,Canal 3
10885,01-01-2018,1012119,CES 01,2.0,Base Sell In Corrección DIC-20 (2018-May 21),1012119,1012119,CES 01,ACC,CL CES 01
10886,01-03-2018,1012119,CES 01,1.0,Base Sell In Corrección DIC-20 (2018-May 21),1012119,1012119,CES 01,ACC,CL CES 01

In [88]:
final_df.tail

<bound method NDFrame.tail of         Año/Mes natural Material      Canal  Venta  \
10885        01-01-2018  1012119     CES 01    2.0
10886        01-03-2018  1012119     CES 01    1.0
10887        01-04-2018  1012119     CES 01    0.0
10888        01-05-2018  1012119     CES 01    1.0
10889        01-07-2018  1012119     CES 01    1.0
...                 ...      ...        ...    ...
2775944      01-09-2024  1171260  Mayorista   14.0
2775945      01-08-2024  1171261  Mayorista   20.0
2775946      01-09-2024  1171261  Mayorista   17.0
2775947      01-08-2024  1171273  Mayorista   56.0
2775948      01-09-2024  1171273  Mayorista   18.0

                                               Fuente Ultimo Eslabón  \
10885    Base Sell In Corrección DIC-20 (2018-May 21)        1012119
10886    Base Sell In Corrección DIC-20 (2018-May 21)        1012119
10887    Base Sell In Corrección DIC-20 (2018-May 21)        1012119
10888    Base Sell In Corrección DIC-20 (2018-May 21)        1012119
10889    Base Sell In Corrección DIC-20 (2018-May 21)        1012119
...                                               ...            ...
2775944                               Sell In Sept-24        1171260
2775945                                Sell In Ago-24        1171261
2775946                               Sell In Sept-24        1171261
2775947                                Sell In Ago-24        1171273
2775948                               Sell In Sept-24        1171273

        Reemplazo Manual AFM Nuevo Canal Sector       Canal 3
10885                1012119      CES 01    ACC     CL CES 01
10886                1012119      CES 01    ACC     CL CES 01
10887                1012119      CES 01    ACC     CL CES 01
10888                1012119      CES 01    ACC     CL CES 01
10889                1012119      CES 01    ACC     CL CES 01
...                      ...         ...    ...           ...
2775944                 None        None    NEU  CL MAYORISTA
2775945                 None        None    NEU  CL MAYORISTA
2775946                 None        None    NEU  CL MAYORISTA
2775947                 None        None    NEU  CL MAYORISTA
2775948                 None        None    NEU  CL MAYORISTA

[295041 rows x 10 columns]>

In [89]:
final_df.shape

(295041, 10)

In [90]:
sellinreducido = final_df[['Año/Mes natural', 'Ultimo Eslabón', 'Canal 3', 'Venta']]

In [91]:
sellinreducido.dtypes

Año/Mes natural     object
Ultimo Eslabón      object
Canal 3             object
Venta              float64
dtype: object

In [92]:
sellinreducido_ = sellinreducido.copy()
sellinreducido_.rename(columns={'Año/Mes natural': 'Fecha'}, inplace=True)
sellinreducido_['Venta'] = pd.to_numeric(sellinreducido_['Venta'], errors='coerce')
sellinreducido_.columns

Index(['Fecha', 'Ultimo Eslabón', 'Canal 3', 'Venta'], dtype='object')

In [93]:
# Crear un pivot table
pivot_df = sellinreducido_.pivot_table(index=['Ultimo Eslabón', 'Canal 3'], 
                                       columns='Fecha', values='Venta', 
                                       aggfunc='sum').reset_index()

pivot_df.columns

Index(['Ultimo Eslabón', 'Canal 3', '01-01-2017', '01-01-2018', '01-01-2019',
       '01-01-2020', '01-01-2021', '01-01-2022', '01-01-2023', '01-01-2024',
       '01-02-2017', '01-02-2018', '01-02-2019', '01-02-2020', '01-02-2021',
       '01-02-2022', '01-02-2023', '01-02-2024', '01-03-2015', '01-03-2018',
       '01-03-2019', '01-03-2020', '01-03-2021', '01-03-2022', '01-03-2023',
       '01-03-2024', '01-04-2017', '01-04-2018', '01-04-2019', '01-04-2020',
       '01-04-2021', '01-04-2022', '01-04-2023', '01-04-2024', '01-05-2016',
       '01-05-2017', '01-05-2018', '01-05-2019', '01-05-2020', '01-05-2021',
       '01-05-2022', '01-05-2023', '01-05-2024', '01-06-2016', '01-06-2017',
       '01-06-2018', '01-06-2019', '01-06-2020', '01-06-2021', '01-06-2022',
       '01-06-2023', '01-06-2024', '01-07-2017', '01-07-2018', '01-07-2019',
       '01-07-2020', '01-07-2021', '01-07-2022', '01-07-2023', '01-07-2024',
       '01-08-2017', '01-08-2018', '01-08-2019', '01-08-2020', '01-08-2021',
       '01-08-2022', '01-08-2023', '01-08-2024', '01-09-2016', '01-09-2017',
       '01-09-2018', '01-09-2019', '01-09-2020', '01-09-2021', '01-09-2022',
       '01-09-2023', '01-09-2024', '01-10-2016', '01-10-2018', '01-10-2019',
       '01-10-2020', '01-10-2021', '01-10-2022', '01-10-2023', '01-11-2015',
       '01-11-2017', '01-11-2018', '01-11-2019', '01-11-2020', '01-11-2021',
       '01-11-2022', '01-11-2023', '01-12-2017', '01-12-2018', '01-12-2019',
       '01-12-2020', '01-12-2021', '01-12-2022', '01-12-2023'],
      dtype='object', name='Fecha')


Reemplazar los NaN por 0 y los valores negativos por 0

In [94]:
pivot_df.fillna(0, inplace=True)
pivot_df.head(2)

Fecha,Ultimo Eslabón,Canal 3,01-01-2017,01-01-2018,01-01-2019,01-01-2020,01-01-2021,01-01-2022,01-01-2023,01-01-2024,...,01-11-2021,01-11-2022,01-11-2023,01-12-2017,01-12-2018,01-12-2019,01-12-2020,01-12-2021,01-12-2022,01-12-2023
0,1000078,CL MAYORISTA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1000144,CL MAYORISTA,0.0,0.0,0.0,0.0,0.0,15.0,27.0,0.0,...,22.0,0.0,0.0,0.0,0.0,0.0,0.0,46.0,27.0,0.0

In [95]:
pivot_df.shape

(37100, 99)

In [96]:
cols = pivot_df.columns.drop(['Ultimo Eslabón', 'Canal 3'])  # Excluye las columnas de índices

# Asegurarse de que los valores son numéricos
pivot_df[cols] = pivot_df[cols].apply(pd.to_numeric, errors='coerce')

# Reemplaza los NaNs por 0 si es necesario
pivot_df[cols] = pivot_df[cols].fillna(0)

# Ahora aplica clip para establecer los valores menores a 0 como 0
pivot_df[cols] = pivot_df[cols].clip(lower=0)
pivot_df.head(2)

Fecha,Ultimo Eslabón,Canal 3,01-01-2017,01-01-2018,01-01-2019,01-01-2020,01-01-2021,01-01-2022,01-01-2023,01-01-2024,...,01-11-2021,01-11-2022,01-11-2023,01-12-2017,01-12-2018,01-12-2019,01-12-2020,01-12-2021,01-12-2022,01-12-2023
0,1000078,CL MAYORISTA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1000144,CL MAYORISTA,0.0,0.0,0.0,0.0,0.0,15.0,27.0,0.0,...,22.0,0.0,0.0,0.0,0.0,0.0,0.0,46.0,27.0,0.0

In [97]:
pivot_df.shape

(37100, 99)

In [98]:
# Crear la columna con la suma de las filas excluyendo 'Ultimo Eslabón' y 'Canal 3'
pivot_df['Suma'] = pivot_df.drop(columns=['Ultimo Eslabón', 'Canal 3']).sum(axis=1)

# Filtrar filas donde la suma es diferente de 0
pivot_df = pivot_df[pivot_df['Suma'] != 0]
pivot_df = pivot_df.drop(columns=['Suma'])
pivot_df.head()

Fecha,Ultimo Eslabón,Canal 3,01-01-2017,01-01-2018,01-01-2019,01-01-2020,01-01-2021,01-01-2022,01-01-2023,01-01-2024,...,01-11-2021,01-11-2022,01-11-2023,01-12-2017,01-12-2018,01-12-2019,01-12-2020,01-12-2021,01-12-2022,01-12-2023
0,1000078,CL MAYORISTA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1000144,CL MAYORISTA,0.0,0.0,0.0,0.0,0.0,15.0,27.0,0.0,...,22.0,0.0,0.0,0.0,0.0,0.0,0.0,46.0,27.0,0.0
2,1000147,CL CES 01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1000147,CL MAYORISTA,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1000148,CL CES 01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [99]:
pivot_df.dtypes

Fecha
Ultimo Eslabón     object
Canal 3            object
01-01-2017        float64
01-01-2018        float64
01-01-2019        float64
                   ...
01-12-2019        float64
01-12-2020        float64
01-12-2021        float64
01-12-2022        float64
01-12-2023        float64
Length: 99, dtype: object

In [100]:
pivot_df.columns

Index(['Ultimo Eslabón', 'Canal 3', '01-01-2017', '01-01-2018', '01-01-2019',
       '01-01-2020', '01-01-2021', '01-01-2022', '01-01-2023', '01-01-2024',
       '01-02-2017', '01-02-2018', '01-02-2019', '01-02-2020', '01-02-2021',
       '01-02-2022', '01-02-2023', '01-02-2024', '01-03-2015', '01-03-2018',
       '01-03-2019', '01-03-2020', '01-03-2021', '01-03-2022', '01-03-2023',
       '01-03-2024', '01-04-2017', '01-04-2018', '01-04-2019', '01-04-2020',
       '01-04-2021', '01-04-2022', '01-04-2023', '01-04-2024', '01-05-2016',
       '01-05-2017', '01-05-2018', '01-05-2019', '01-05-2020', '01-05-2021',
       '01-05-2022', '01-05-2023', '01-05-2024', '01-06-2016', '01-06-2017',
       '01-06-2018', '01-06-2019', '01-06-2020', '01-06-2021', '01-06-2022',
       '01-06-2023', '01-06-2024', '01-07-2017', '01-07-2018', '01-07-2019',
       '01-07-2020', '01-07-2021', '01-07-2022', '01-07-2023', '01-07-2024',
       '01-08-2017', '01-08-2018', '01-08-2019', '01-08-2020', '01-08-2021',
       '01-08-2022', '01-08-2023', '01-08-2024', '01-09-2016', '01-09-2017',
       '01-09-2018', '01-09-2019', '01-09-2020', '01-09-2021', '01-09-2022',
       '01-09-2023', '01-09-2024', '01-10-2016', '01-10-2018', '01-10-2019',
       '01-10-2020', '01-10-2021', '01-10-2022', '01-10-2023', '01-11-2015',
       '01-11-2017', '01-11-2018', '01-11-2019', '01-11-2020', '01-11-2021',
       '01-11-2022', '01-11-2023', '01-12-2017', '01-12-2018', '01-12-2019',
       '01-12-2020', '01-12-2021', '01-12-2022', '01-12-2023'],
      dtype='object', name='Fecha')

Guardar como CSV

In [101]:

non_date_cols = ['Ultimo Eslabón', 'Canal 3']
date_cols = [col for col in pivot_df.columns if col not in non_date_cols]

# Convertir las columnas de fecha a tipo datetime para poder ordenarlas
date_cols_sorted = sorted(date_cols, key=lambda x: pd.to_datetime(x, format='mixed'))

# Crear un nuevo orden de columnas
new_order = non_date_cols + date_cols_sorted
pivot_df = pivot_df[new_order]

# Filtrar las columnas que no contienen los años 2015, 2016 o 2017
columns_to_keep = [col for col in pivot_df.columns if not any(year in col for year in ['2015', '2016', '2017'])]
pivot_df = pivot_df[columns_to_keep]

In [102]:
# pivot_df.columns

Nombrar com ose llamaran los archivos que guardaremos

In [103]:

user_dir = os.path.expanduser('~')
now = datetime.now()
current_year = now.strftime('%Y')
current_month = now.strftime('%m')
previous_month = (now.replace(day=1) - pd.DateOffset(months=1)).strftime('%B-%y')
cycle_month = (now + pd.DateOffset(months=1)).strftime('%b-%y')

base_path = os.path.join(user_dir, 'DERCO CHILE REPUESTOS SpA', 'Planificación y abastecimiento - Documentos', 
                         'Planificación y Compras Anastasia', 'Carga Historia de Venta', 
                         f'{current_year}-{current_month} Ciclo {cycle_month}', 'AFM', 'SELL IN')
os.makedirs(base_path, exist_ok=True)

csv_path = os.path.join(base_path, f'{current_month}.{current_year} Sell_In {previous_month} Corregido.csv')
excel_path = os.path.join(base_path, f'{current_month}.{current_year} Sell_In {previous_month} Corregido.xlsx')
csv_path

'C:\\Users\\etorres.DERCOPARTS\\DERCO CHILE REPUESTOS SpA\\Planificación y abastecimiento - Documentos\\Planificación y Compras Anastasia\\Carga Historia de Venta\\2024-10 Ciclo Nov-24\\AFM\\SELL IN\\10.2024 Sell_In September-24 Corregido.csv'

In [104]:
excel_path

'C:\\Users\\etorres.DERCOPARTS\\DERCO CHILE REPUESTOS SpA\\Planificación y abastecimiento - Documentos\\Planificación y Compras Anastasia\\Carga Historia de Venta\\2024-10 Ciclo Nov-24\\AFM\\SELL IN\\10.2024 Sell_In September-24 Corregido.xlsx'

In [105]:
pivot_df.shape

(13669, 83)

In [106]:
pivot_df.columns

Index(['Ultimo Eslabón', 'Canal 3', '01-01-2018', '01-02-2018', '01-03-2018',
       '01-04-2018', '01-05-2018', '01-06-2018', '01-07-2018', '01-08-2018',
       '01-09-2018', '01-10-2018', '01-11-2018', '01-12-2018', '01-01-2019',
       '01-02-2019', '01-03-2019', '01-04-2019', '01-05-2019', '01-06-2019',
       '01-07-2019', '01-08-2019', '01-09-2019', '01-10-2019', '01-11-2019',
       '01-12-2019', '01-01-2020', '01-02-2020', '01-03-2020', '01-04-2020',
       '01-05-2020', '01-06-2020', '01-07-2020', '01-08-2020', '01-09-2020',
       '01-10-2020', '01-11-2020', '01-12-2020', '01-01-2021', '01-02-2021',
       '01-03-2021', '01-04-2021', '01-05-2021', '01-06-2021', '01-07-2021',
       '01-08-2021', '01-09-2021', '01-10-2021', '01-11-2021', '01-12-2021',
       '01-01-2022', '01-02-2022', '01-03-2022', '01-04-2022', '01-05-2022',
       '01-06-2022', '01-07-2022', '01-08-2022', '01-09-2022', '01-10-2022',
       '01-11-2022', '01-12-2022', '01-01-2023', '01-02-2023', '01-03-2023',
       '01-04-2023', '01-05-2023', '01-06-2023', '01-07-2023', '01-08-2023',
       '01-09-2023', '01-10-2023', '01-11-2023', '01-12-2023', '01-01-2024',
       '01-02-2024', '01-03-2024', '01-04-2024', '01-05-2024', '01-06-2024',
       '01-07-2024', '01-08-2024', '01-09-2024'],
      dtype='object', name='Fecha')

A CSV

In [107]:
# pivot_df.to_csv(csv_path, sep=';', decimal=',', index=False)
# print(f"Archivo CSV guardado en: {csv_path}")

A EXCEL

In [108]:
# pivot_df.to_excel(excel_path, index=False)
# print(f"Archivo Excel guardado en: {excel_path}")

agregar las columnas "Clasificación", "PROMEDIO", "DESV EST", "Z", "LIM SUP", "LIM INF", "FRECUENCIA", "Outliers SUP", "Outliers INF" y "Suma Outliers"

In [109]:
# Bloque 1: Creación de nuevas columnas
nuevas_columnas = ['Clasificación', 'PROMEDIO', 'DESV EST', 'Z', 'LIM SUP', 'LIM INF', 'FRECUENCIA', 
                   'Outliers SUP', 'Outliers INF', 'Suma Outliers', 'PERCENTIL', 'Clustering', 'ADI', 
                   'CV2', 'MEDIANA', 'PROM_CV2', 'Desv_CV2', 'LIM SUP MED', 'LIM INF FINAL', 
                   'LIM INF ANT', 'LIM INF MEDIANA']

new_columns_df = pd.DataFrame(index=pivot_df.index, columns=[col for col in nuevas_columnas if col not in pivot_df.columns])
pivot_df = pd.concat([pivot_df, new_columns_df], axis=1)

In [110]:
# Bloque 2: Cálculo del promedio
index_clasificacion = pivot_df.columns.get_loc('Clasificación')
columnas_conteo = pivot_df.columns[index_clasificacion-18:index_clasificacion]
pivot_df['PROMEDIO'] = pivot_df[columnas_conteo].mean(axis=1)
promedio_sum = pivot_df['PROMEDIO'].sum()
print(f"Suma de PROMEDIO: {promedio_sum}")

Suma de PROMEDIO: 115806.94455555556

In [111]:
import numpy as np
#  Bloque 3: Cálculo del ADI (Average Demand Interval)
num_cols = 24
col_pos = pivot_df.columns.get_loc('Clasificación')
cols_for_adi = pivot_df.iloc[:, col_pos - num_cols:col_pos]
pivot_df['ADI'] = np.where(cols_for_adi.gt(0).sum(axis=1) > 0, 
                           24 / cols_for_adi.gt(0).sum(axis=1), 0)
adi_count = pivot_df['ADI'].count()
print(f"Total de registros en ADI: {adi_count}")
adi_sum = pivot_df['ADI'].sum()
print(f"Suma de ADI: {adi_sum}")

Total de registros en ADI: 13669
Suma de ADI: 77744.25802746184

In [112]:
# Bloque 4: Cálculo del promedio CV2 (Coefficient of Variation squared)
cols_for_avg = pivot_df.iloc[:, col_pos - num_cols:col_pos]
pivot_df['PROM_CV2'] = cols_for_avg.replace(0, np.nan).mean(axis=1)
prom_cv2_sum = pivot_df['PROM_CV2'].sum()
print(f"Suma de PROM_CV2: {prom_cv2_sum}")

Suma de PROM_CV2: 226625.907501294

In [113]:
# Bloque 5: Cálculo de la desviación estándar CV2
cols_for_std = pivot_df.iloc[:, col_pos - num_cols:col_pos]
pivot_df['Desv_CV2'] = cols_for_std.replace(0, np.nan).std(axis=1)
desv_cv2_sum = pivot_df['Desv_CV2'].sum()
print(f"Suma de Desv_CV2: {desv_cv2_sum}")

Suma de Desv_CV2: 192951.33879591338

In [114]:
# Bloque 6: Cálculo de la mediana
num_cols_median = 18
cols_for_median = pivot_df.iloc[:, col_pos - num_cols_median:col_pos]
pivot_df['MEDIANA'] = cols_for_median.median(axis=1)
mediana_sum = pivot_df['MEDIANA'].sum()
print(f"Suma de MEDIANA: {mediana_sum}")

Suma de MEDIANA: 70885.0

In [115]:
# Bloque 7: Cálculo del CV2 (Coefficient of Variation squared)
pivot_df['CV2'] = np.where(pivot_df['PROM_CV2'].fillna(0) != 0, 
                           (pivot_df['Desv_CV2'].fillna(0) / pivot_df['PROM_CV2'].fillna(0))**2, 0)
pivot_df['CV2'] = pivot_df['CV2'].fillna(0)
cv2_sum = pivot_df['CV2'].sum()
print(f"Suma de CV2: {cv2_sum}")

Suma de CV2: 3369.3880079310643

In [116]:
# Bloque 8: Clustering basado en ADI y CV2
pivot_df['Clustering'] = np.where((pivot_df['ADI'] < 1.32) & (pivot_df['CV2'] < 0.49), "SMOOTH",
                         np.where((pivot_df['ADI'] >= 1.32) & (pivot_df['CV2'] < 0.49), "INTERMITTENT",
                         np.where((pivot_df['ADI'] < 1.32) & (pivot_df['CV2'] >= 0.49), "ERRATIC",
                         np.where((pivot_df['ADI'] >= 1.32) & (pivot_df['CV2'] >= 0.49), "LUMPY", 0))))
clustering_counts = pivot_df['Clustering'].value_counts()
print("Cantidad de registros por Clustering:")
print(clustering_counts)

Cantidad de registros por Clustering:
Clustering
SMOOTH          6838
INTERMITTENT    4453
LUMPY           2089
ERRATIC          289
Name: count, dtype: int64

In [117]:
import numpy as np

pivot_df['PERCENTIL'] = pivot_df.apply(lambda row: 
                                       np.percentile(row.iloc[58:82].values, 
                                                     10, 
                                                     method='weibull')  # Usamos 'method' en lugar de 'interpolation'
                                       if row['Clustering'] in ['ERRATIC', 'LUMPY'] 
                                       else np.percentile(row.iloc[58:82], 
                                                         10, 
                                                         method='linear'), 
                                       axis=1)

In [118]:
columnas_usadas = pivot_df.columns[58:82]
print(columnas_usadas)

Index(['01-09-2022', '01-10-2022', '01-11-2022', '01-12-2022', '01-01-2023',
       '01-02-2023', '01-03-2023', '01-04-2023', '01-05-2023', '01-06-2023',
       '01-07-2023', '01-08-2023', '01-09-2023', '01-10-2023', '01-11-2023',
       '01-12-2023', '01-01-2024', '01-02-2024', '01-03-2024', '01-04-2024',
       '01-05-2024', '01-06-2024', '01-07-2024', '01-08-2024'],
      dtype='object')

FRECUENCIA

In [119]:
# Obtener el índice de la columna 'Clasificación'
index_clasificacion = pivot_df.columns.get_loc('Clasificación')

# Obtener las 18 columnas antes de 'Clasificación'
columnas_conteo = pivot_df.columns[index_clasificacion-24:index_clasificacion]

# Contar cuántas veces los valores en las columnas especificadas son mayores a 0
pivot_df['FRECUENCIA'] = (pivot_df[columnas_conteo] > 0).sum(axis=1)

PROMEDIO

In [120]:
# Obtener el índice de la columna 'Clasificación'
index_clasificacion = pivot_df.columns.get_loc('Clasificación')

# Obtener las 18 columnas antes de 'Clasificación'
columnas_conteo = pivot_df.columns[index_clasificacion-18:index_clasificacion]

# Calcular el promedio de los valores en las columnas especificadas
pivot_df['PROMEDIO'] = pivot_df[columnas_conteo].mean(axis=1)

'DESV EST'

In [121]:
# Obtener el índice de la columna 'Clasificación'
index_clasificacion = pivot_df.columns.get_loc('Clasificación')

# Obtener las 18 columnas antes de 'Clasificación'
columnas_conteo = pivot_df.columns[index_clasificacion-24:index_clasificacion]

# Calcular la desviación estándar de los valores en las columnas especificadas
pivot_df['DESV EST'] = pivot_df[columnas_conteo].std(ddof=1, axis=1)

In [122]:
def clasificar_frecuencia(frecuencia):
    if frecuencia == 0:
        return "Sin Venta"
    elif 0 < frecuencia <= 6:
        return "Muy Baja"
    elif 6 < frecuencia <= 9:
        return "Baja"
    elif 9 < frecuencia <= 13:
        return "Media"
    elif 13 < frecuencia <= 18:
        return "Alta"
    elif 18 < frecuencia <= 24:
        return "Muy Alta"

pivot_df['Clasificación'] = pivot_df['FRECUENCIA'].apply(clasificar_frecuencia)

Z

In [123]:

# Definir la función personalizada
def calcular_z(clasificacion):
    if clasificacion == "Muy Alta":
        return 1.96
    elif clasificacion == "Alta":
        return 1.28
    elif clasificacion in ["Baja", "Muy Baja"]:
        return 0.67
    else:
        return 0.84

# Aplicar la función a la columna 'Clasificación' y crear una nueva columna 'Z'
pivot_df['Z'] = pivot_df['Clasificación'].apply(calcular_z)

LIM SUP

In [124]:

# Calcular la columna LIM SUP
pivot_df['LIM SUP'] = pivot_df['PROMEDIO'] + pivot_df['Z'] * pivot_df['DESV EST']

LIM INF

In [125]:
def calcular_lim_inf(row):
    promedio = row['PROMEDIO']
    z = row['Z']
    desv_est = row['DESV EST']
    percentil = row['PERCENTIL']
    
    resultado = promedio - z * desv_est
    return max(resultado, percentil)

pivot_df['LIM INF'] = pivot_df.apply(calcular_lim_inf, axis=1)

OUT SUP

In [126]:

index_clasificacion = pivot_df.columns.get_loc('Clasificación')

# Obtener las 18 columnas antes de 'Clasificación'
columnas_conteo = pivot_df.columns[index_clasificacion-18:index_clasificacion]

# Definir la función personalizada para calcular Outliers SUP
def calcular_outliers_sup(row):
    lim_sup = row['LIM SUP']
    return (row[columnas_conteo] > lim_sup).sum()

# Aplicar la función a cada fila del DataFrame y crear una nueva columna 'Outliers SUP'
pivot_df['Outliers SUP'] = pivot_df.apply(calcular_outliers_sup, axis=1)

lim inf

In [127]:
# Obtener el índice de la columna 'Clasificación'
index_clasificacion = pivot_df.columns.get_loc('Clasificación')

# Obtener las 18 columnas antes de 'Clasificación'
columnas_conteo = pivot_df.columns[index_clasificacion-18:index_clasificacion]

# Definir la función personalizada para calcular Outliers INF
def calcular_outliers_inf(row):
    lim_inf = row['LIM INF']
    return (row[columnas_conteo] < lim_inf).sum()

# Aplicar la función a cada fila del DataFrame y crear una nueva columna 'Outliers INF'
pivot_df['Outliers INF'] = pivot_df.apply(calcular_outliers_inf, axis=1)

SUM OUTLIERS

In [128]:
pivot_df['Suma Outliers'] = pivot_df['Outliers INF'] + pivot_df['Outliers SUP']

COPIAR LAS VENTAS ALFINAL

In [129]:
clasificacion_index = pivot_df.columns.get_loc("Clasificación")
columns_to_copy = [col for col in pivot_df.columns[:clasificacion_index] if col not in ["idSKU", "Canal"]]
copied_columns = pivot_df[columns_to_copy].copy()
copied_columns.columns = [f'{col}_copy' for col in copied_columns.columns]
pivot_df = pd.concat([pivot_df, copied_columns], axis=1)
pivot_df

,Ultimo Eslabón,Canal 3,01-01-2018,01-02-2018,01-03-2018,01-04-2018,01-05-2018,01-06-2018,01-07-2018,01-08-2018,...,01-12-2023_copy,01-01-2024_copy,01-02-2024_copy,01-03-2024_copy,01-04-2024_copy,01-05-2024_copy,01-06-2024_copy,01-07-2024_copy,01-08-2024_copy,01-09-2024_copy
0,1000078,CL MAYORISTA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1000144,CL MAYORISTA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1000147,CL CES 01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1000147,CL MAYORISTA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0,0.0
4,1000148,CL CES 01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37095,750803,CL CES 01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
37096,750816,CL CES 01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
37097,752466,CL CES 01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
37098,752748,CL CES 01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
37099,761279,CL CES 01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Copia las ultimas 18 columnas alfinal para corregirlas

In [130]:
# # Encontrar la posición de la columna "Clasificación"
# clasificacion_index = pivot_df.columns.get_loc("Clasificación")

# # Seleccionar todas las columnas antes de "Clasificación" excepto "idSKU" y "Canal"
# columns_to_copy = [col for col in pivot_df.columns[:clasificacion_index] if col not in ["idSKU", "Canal"]]

# # Copiar las columnas seleccionadas al final
# for col in columns_to_copy:
#     pivot_df[f'{col}_copy'] = pivot_df[col]

# pivot_df

CORREGIR OUTLIERS PARA LAS ULTIMAS 18 COLUMNAS

In [131]:
# Obtener los nombres de las últimas 18 columnas
last_18_columns = pivot_df.columns[-18:]

# Aplicar las condiciones a las últimas 18 columnas
for col in last_18_columns:
    pivot_df[col] = pivot_df.apply(
        lambda row: row['PROMEDIO'] if row[col] > row['LIM SUP'] or row[col] < row['LIM INF'] else row[col],
        axis=1
    )

# Mostrar el DataFrame resultante
pivot_df.head(2)

,Ultimo Eslabón,Canal 3,01-01-2018,01-02-2018,01-03-2018,01-04-2018,01-05-2018,01-06-2018,01-07-2018,01-08-2018,...,01-12-2023_copy,01-01-2024_copy,01-02-2024_copy,01-03-2024_copy,01-04-2024_copy,01-05-2024_copy,01-06-2024_copy,01-07-2024_copy,01-08-2024_copy,01-09-2024_copy
0,1000078,CL MAYORISTA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1000144,CL MAYORISTA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [132]:
last_column = pivot_df.columns[-1]

# Calcular la suma de la última columna
sum_last_column = pivot_df[last_column].sum()

# Mostrar la suma
print(f"La suma de la última columna ({last_column}) es: {sum_last_column}")

La suma de la última columna (01-09-2024_copy) es: 78311.94444444444

In [133]:
pivot_df.tail(10)

,Ultimo Eslabón,Canal 3,01-01-2018,01-02-2018,01-03-2018,01-04-2018,01-05-2018,01-06-2018,01-07-2018,01-08-2018,...,01-12-2023_copy,01-01-2024_copy,01-02-2024_copy,01-03-2024_copy,01-04-2024_copy,01-05-2024_copy,01-06-2024_copy,01-07-2024_copy,01-08-2024_copy,01-09-2024_copy
37086,746648,CL MAYORISTA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
37091,750403,CL CES 01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
37092,750403,CL MAYORISTA,30.0,0.0,2.0,0.0,2.0,22.0,4.0,44.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
37093,750406,CL CES 01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
37094,750406,CL MAYORISTA,0.0,0.0,0.0,0.0,0.0,8.0,8.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
37095,750803,CL CES 01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
37096,750816,CL CES 01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
37097,752466,CL CES 01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
37098,752748,CL CES 01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
37099,761279,CL CES 01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [134]:
index_suma_outliers = pivot_df.columns.get_loc("Suma Outliers")

# Detectar y eliminar columnas que empiezan con "Ul" o "Ca" después de "Suma Outliers"
cols_to_drop = [col for col in pivot_df.columns[index_suma_outliers+1:] if col.startswith("Ul") or col.startswith("Ca")]
pivot_df.drop(columns=cols_to_drop, inplace=True)

# Renombrar columnas que terminan en "_copy" adyacentes a "Suma Outliers"
new_columns = pivot_df.columns.tolist()
for i in range(index_suma_outliers + 1, len(new_columns)):
    if new_columns[i].endswith("_copy"):
        new_columns[i] = new_columns[i].replace("_copy", "")

pivot_df.columns = new_columns

# Mostrar el DataFrame modificado
pivot_df.head(1)

,Ultimo Eslabón,Canal 3,01-01-2018,01-02-2018,01-03-2018,01-04-2018,01-05-2018,01-06-2018,01-07-2018,01-08-2018,...,01-12-2023,01-01-2024,01-02-2024,01-03-2024,01-04-2024,01-05-2024,01-06-2024,01-07-2024,01-08-2024,01-09-2024
0,1000078,CL MAYORISTA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [135]:
pivot_df.to_csv(csv_path, sep=';', decimal=',', index=False)
print(f"Archivo CSV guardado en: {csv_path}")
pivot_df.to_excel(excel_path, index=False)
print(f"Archivo Excel guardado en: {excel_path}")

Archivo CSV guardado en: C:\Users\etorres.DERCOPARTS\DERCO CHILE REPUESTOS SpA\Planificación y abastecimiento - Documentos\Planificación y Compras Anastasia\Carga Historia de Venta\2024-10 Ciclo Nov-24\AFM\SELL IN\10.2024 Sell_In September-24 Corregido.csv
Archivo Excel guardado en: C:\Users\etorres.DERCOPARTS\DERCO CHILE REPUESTOS SpA\Planificación y abastecimiento - Documentos\Planificación y Compras Anastasia\Carga Historia de Venta\2024-10 Ciclo Nov-24\AFM\SELL IN\10.2024 Sell_In September-24 Corregido.xlsx

GUARDAR NUEVA HISTORIA

In [136]:
# import os
# import datetime

# # Obtener el usuario automáticamente
# user = os.getlogin()

# # Definir la ruta base y agregar la fecha actual
# ruta_base = f"C:\\Users\\{user}\\DERCO CHILE REPUESTOS SpA\\Planificación y abastecimiento AFM - Documentos\\Planificación y Compras Anastasia\\Carga Historia de Venta"
# fecha_actual = datetime.datetime.now().strftime("%Y-%m-%d")
# nombre_archivo = f"Historia_Sell_In"

# # Definir las rutas completas para cada formato
# ruta_csv = os.path.join(ruta_base, f"{nombre_archivo}.csv")
# ruta_parquet = os.path.join(ruta_base, f"{nombre_archivo}.parquet")
# ruta_feather = os.path.join(ruta_base, f"{nombre_archivo}.feather")

# # Guardar el DataFrame en cada formato
## df_combinado_actualizado2.to_csv(ruta_csv, sep=';', decimal=',', index=False)
# df_combinado_actualizado2.to_parquet(ruta_parquet)
## df_combinado_actualizado2.to_feather(ruta_feather)