In [85]:
import os
import pandas as pd

# Función para obtener el archivo parquet más reciente
def obtener_archivo_reciente(ruta):
    archivos = [os.path.join(ruta, archivo) for archivo in os.listdir(ruta) if archivo.endswith('.parquet')]
    if archivos:
        archivo_reciente = max(archivos, key=os.path.getctime)
        return archivo_reciente
    else:
        raise FileNotFoundError(f"No se encontraron archivos .parquet en la ruta: {ruta}")

# Obtener el usuario actual del sistema
usuario = os.path.expanduser('~').split('\\')[-1]

# Rutas de las carpetas (adaptadas al usuario actual)
rutas = [
    fr"C:\Users\{usuario}\DERCO CHILE REPUESTOS SpA\Planificación y abastecimiento - Documentos\KPI\Gerenciamiento Alcances\PBI\TR\Consolidados\FC_Promedio",
    fr"C:\Users\{usuario}\DERCO CHILE REPUESTOS SpA\Planificación y abastecimiento - Documentos\KPI\Gerenciamiento Alcances\PBI\TR\Consolidados\Stock",
    fr"C:\Users\{usuario}\DERCO CHILE REPUESTOS SpA\Planificación y abastecimiento - Documentos\KPI\Gerenciamiento Alcances\PBI\TR\Consolidados\Transito",
    fr"C:\Users\{usuario}\DERCO CHILE REPUESTOS SpA\Planificación y abastecimiento - Documentos\KPI\Gerenciamiento Alcances\PBI\TR\Consolidados\Venta_Promedio",
    fr"C:\Users\{usuario}\DERCO CHILE REPUESTOS SpA\Planificación y abastecimiento - Documentos\KPI\Gerenciamiento Alcances\PBI\Stock_tienda\sin_centro"
]

# Cargar los archivos parquet más recientes
dfs = []
for ruta in rutas:
    try:
        archivo_reciente = obtener_archivo_reciente(ruta)
        df = pd.read_parquet(archivo_reciente)
        dfs.append(df)
    except FileNotFoundError as e:
        print(e)
        dfs.append(None)

# Asignar a variables por cada DataFrame
df_fc_promedio, df_stock, df_transito, df_venta_promedio, df_stock_tienda = dfs

# Comprobación de las cargas
for nombre, df in zip(['df_fc_promedio', 'df_stock', 'df_transito', 'df_venta_promedio', 'df_stock_tienda'], dfs):
    if df is not None:
        print(f"{nombre} cargado con éxito. {len(df)} filas.")
    else:
        print(f"{nombre} no pudo ser cargado.")

df_fc_promedio cargado con éxito. 3225782 filas.
df_stock cargado con éxito. 1781298 filas.
df_transito cargado con éxito. 3524848 filas.
df_venta_promedio cargado con éxito. 3994701 filas.
df_stock_tienda cargado con éxito. 1408319 filas.

In [2]:
ruta

'C:\\Users\\etorres.DERCOPARTS\\DERCO CHILE REPUESTOS SpA\\Planificación y abastecimiento - Documentos\\KPI\\Gerenciamiento Alcances\\PBI\\Stock_tienda\\sin_centro'

In [3]:
df_transito = df_transito.dropna(subset=['SEM'])
df_transito = df_transito[df_transito['SEM'] != '']
df_transito = df_transito.dropna(subset=['SEM'])
print(df_transito['SEM'].isnull().sum())

0

In [4]:
df_transito.shape

(3503467, 13)

In [5]:
df_fc_promedio.head(1)

   Material  FC Prom      Fecha
0   1000078      0.0 2023-04-02

In [6]:
df_stock.head(1)

,Almacén,Centro,Inspecc.de calidad,Libre utilización,Material,Moneda,SEM,Trans./Trasl.,Val.trans.c/cond.,Valor en insp.cal.,Valor libre util.
0,1600.0,710.0,1.0,0.0,100480.0,None,2023-09-24,0.0,0.0,1404.0,0.0

AÑO = O MAYOR A 2024

In [7]:
df_stock = df_stock[df_stock['SEM'] > '2023-12-31']

In [8]:
semu=df_stock['SEM'].unique()
semu

<DatetimeArray>
['2024-01-01 00:00:00', '2024-03-04 00:00:00', '2024-03-11 00:00:00',
 '2024-03-18 00:00:00', '2024-03-25 00:00:00', '2024-04-01 00:00:00',
 '2024-04-08 00:00:00', '2024-04-15 00:00:00', '2024-04-23 00:00:00',
 '2024-04-29 00:00:00', '2024-05-07 00:00:00', '2024-01-08 00:00:00',
 '2024-05-13 00:00:00', '2024-05-20 00:00:00', '2024-05-27 00:00:00',
 '2024-06-04 00:00:00', '2024-06-10 00:00:00', '2024-06-18 00:00:00',
 '2024-06-24 00:00:00', '2024-07-01 00:00:00', '2024-07-08 00:00:00',
 '2024-07-15 00:00:00', '2024-01-15 00:00:00', '2024-07-22 00:00:00',
 '2024-07-29 00:00:00', '2024-08-05 00:00:00', '2024-08-12 00:00:00',
 '2024-08-19 00:00:00', '2024-08-26 00:00:00', '2024-09-03 00:00:00',
 '2024-09-09 00:00:00', '2024-09-16 00:00:00', '2024-09-23 00:00:00',
 '2024-01-22 00:00:00', '2024-09-30 00:00:00', '2024-10-07 00:00:00',
 '2024-10-14 00:00:00', '2024-10-21 00:00:00', '2024-10-28 00:00:00',
 '2024-11-04 00:00:00', '2024-11-11 00:00:00', '2024-01-29 00:00:00',
 '2024-02-05 00:00:00', '2024-02-12 00:00:00', '2024-02-19 00:00:00',
 '2024-02-26 00:00:00']
Length: 46, dtype: datetime64[ns]

In [9]:
df_stock_tienda.head(1)

,Material,SEM,Libre utilización,Valor libre util.,Trans./Trasl.,Val.trans.c/cond.,Inspecc.de calidad,Valor en insp.cal.
0,1000078,2024-01-08,-1.0,-1155.0,0.0,0.0,0,0.0

In [10]:
semu2=df_stock_tienda['SEM'].unique()
semu2

<DatetimeArray>
['2024-01-08 00:00:00', '2024-01-15 00:00:00', '2024-01-22 00:00:00',
 '2024-01-29 00:00:00', '2024-02-05 00:00:00', '2024-02-12 00:00:00',
 '2024-02-19 00:00:00', '2024-02-26 00:00:00', '2024-03-04 00:00:00',
 '2024-03-11 00:00:00', '2024-03-18 00:00:00', '2024-03-25 00:00:00',
 '2024-04-01 00:00:00', '2024-04-08 00:00:00', '2024-04-15 00:00:00',
 '2024-10-07 00:00:00', '2024-10-14 00:00:00', '2024-10-21 00:00:00',
 '2024-10-28 00:00:00', '2024-11-04 00:00:00', '2024-11-11 00:00:00',
 '2024-01-01 00:00:00', '2024-04-23 00:00:00', '2024-04-29 00:00:00',
 '2024-05-06 00:00:00', '2024-05-13 00:00:00', '2024-05-20 00:00:00',
 '2024-05-27 00:00:00', '2024-06-04 00:00:00', '2024-06-10 00:00:00',
 '2024-06-18 00:00:00', '2024-06-24 00:00:00', '2024-07-01 00:00:00',
 '2024-07-08 00:00:00', '2024-07-15 00:00:00', '2024-07-22 00:00:00',
 '2024-07-29 00:00:00', '2024-08-05 00:00:00', '2024-08-12 00:00:00',
 '2024-08-19 00:00:00', '2024-08-26 00:00:00', '2024-09-03 00:00:00',
 '2024-09-09 00:00:00', '2024-09-16 00:00:00', '2024-09-23 00:00:00',
 '2024-09-30 00:00:00']
Length: 46, dtype: datetime64[ns]

# Validar columnas diferentes

STOCK Y STOCK TIENDA

In [11]:
sem_stock = set(df_stock['SEM'])
sem_stock_tienda = set(df_stock_tienda['SEM'])

en_stock_no_en_tienda = sem_stock - sem_stock_tienda
en_tienda_no_en_stock = sem_stock_tienda - sem_stock

print("Valores de SEM en df_stock que no están en df_stock_tienda:", sorted(en_stock_no_en_tienda))
print("Valores de SEM en df_stock_tienda que no están en df_stock:", sorted(en_tienda_no_en_stock))

Valores de SEM en df_stock que no están en df_stock_tienda: [Timestamp('2024-05-07 00:00:00')]
Valores de SEM en df_stock_tienda que no están en df_stock: [Timestamp('2024-05-06 00:00:00')]

Reemplaza el valor que no está en la columna stock

In [12]:
df_stock['SEM'] = df_stock['SEM'].replace('2024-05-07 00:00:00', '2024-05-06 00:00:00')

C:\Users\etorres.DERCOPARTS\AppData\Local\Temp\ipykernel_20736\760883719.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_stock['SEM'] = df_stock['SEM'].replace('2024-05-07 00:00:00', '2024-05-06 00:00:00')

TRANSITO

In [13]:
# Eliminar .0 en la columna 'Material' para df_stock y df_transito
df_stock['Material'] = df_stock['Material'].astype(str).str.replace(r'\.0$', '', regex=True)
df_transito['Material'] = df_transito['Material'].astype(str).str.replace(r'\.0$', '', regex=True)

C:\Users\etorres.DERCOPARTS\AppData\Local\Temp\ipykernel_20736\204180440.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_stock['Material'] = df_stock['Material'].astype(str).str.replace(r'\.0$', '', regex=True)

# CHEQUEAR Y RENOMBRAR COLUMNAS DE FECHA A SEM PARA LUEGO EXTRAER LA SEMANA Y AÑO DE CADA UNO

In [14]:
# Mostrar las columnas de cada DataFrame
print("Columnas de df_fc_promedio:", df_fc_promedio.columns)
print("Columnas de df_stock:", df_stock.columns)
print("Columnas de df_transito:", df_transito.columns)
print("Columnas de df_venta_promedio:", df_venta_promedio.columns)
print("Columnas de df_stock_tienda:", df_stock_tienda.columns)

Columnas de df_fc_promedio: Index(['Material', 'FC Prom', 'Fecha'], dtype='object')
Columnas de df_stock: Index(['Almacén', 'Centro', 'Inspecc.de calidad', 'Libre utilización',
       'Material', 'Moneda', 'SEM', 'Trans./Trasl.', 'Val.trans.c/cond.',
       'Valor en insp.cal.', 'Valor libre util.'],
      dtype='object')
Columnas de df_transito: Index(['Cantidad', 'Centro', 'Clase doc.', 'Descripcion', 'Fecha',
       'Grupo de Compra', 'Material', 'Origen', 'Proveedor', 'SEM', 'Sector',
       'Status TR Fact', 'Tipo'],
      dtype='object')
Columnas de df_venta_promedio: Index(['fecha', 'Material', 'Vta promedio'], dtype='object')
Columnas de df_stock_tienda: Index(['Material', 'SEM', 'Libre utilización', 'Valor libre util.',
       'Trans./Trasl.', 'Val.trans.c/cond.', 'Inspecc.de calidad',
       'Valor en insp.cal.'],
      dtype='object')

In [15]:
df_venta_promedio = df_venta_promedio.rename(columns={'fecha': 'SEM'})
# df_transito = df_transito.rename(columns={'Fecha': 'SEM'})
df_fc_promedio = df_fc_promedio.rename(columns={'Fecha': 'SEM'})

In [16]:
def check_duplicates(df, name):
    if df.duplicated(subset=['Material', 'SEM']).any():
        print(f"El DataFrame {name} tiene duplicados en las columnas 'Material' y 'SEM'.")
    else:
        print(f"El DataFrame {name} no tiene duplicados en las columnas 'Material' y 'SEM'.")

check_duplicates(df_fc_promedio, 'df_fc_promedio')
check_duplicates(df_stock, 'df_stock')
check_duplicates(df_transito, 'df_transito')
check_duplicates(df_venta_promedio, 'df_venta_promedio')
check_duplicates(df_stock_tienda, 'df_stock_tienda')

El DataFrame df_fc_promedio tiene duplicados en las columnas 'Material' y 'SEM'.
El DataFrame df_stock tiene duplicados en las columnas 'Material' y 'SEM'.
El DataFrame df_transito tiene duplicados en las columnas 'Material' y 'SEM'.
El DataFrame df_venta_promedio no tiene duplicados en las columnas 'Material' y 'SEM'.
El DataFrame df_stock_tienda no tiene duplicados en las columnas 'Material' y 'SEM'.

# AGREGAR SEMANA Y AÑO

In [17]:
# Verificar si hay columnas duplicadas
print(df_fc_promedio.columns.duplicated())
print(df_stock.columns.duplicated())
print(df_transito.columns.duplicated())
print(df_venta_promedio.columns.duplicated())
print(df_stock_tienda.columns.duplicated())

# Asegurarse de que no haya columnas duplicadas antes de la conversión
df_fc_promedio = df_fc_promedio.loc[:, ~df_fc_promedio.columns.duplicated()]
df_stock = df_stock.loc[:, ~df_stock.columns.duplicated()]
df_transito = df_transito.loc[:, ~df_transito.columns.duplicated()]
df_venta_promedio = df_venta_promedio.loc[:, ~df_venta_promedio.columns.duplicated()]
df_stock_tienda = df_stock_tienda.loc[:, ~df_stock_tienda.columns.duplicated()]

# Verificar valores nulos o irregulares en 'SEM'
print("Valores nulos o irregulares en 'SEM':")
print("df_fc_promedio:", df_fc_promedio['SEM'].isnull().sum())
print("df_stock:", df_stock['SEM'].isnull().sum())
print("df_transito:", df_transito['SEM'].isnull().sum())
print("df_venta_promedio:", df_venta_promedio['SEM'].isnull().sum())
print("df_stock_tienda:", df_stock_tienda['SEM'].isnull().sum())

# Si no hay valores nulos, convertir 'SEM' a formato datetime
df_fc_promedio['SEM'] = pd.to_datetime(df_fc_promedio['SEM'], errors='coerce')
df_stock['SEM'] = pd.to_datetime(df_stock['SEM'], errors='coerce')
df_transito['SEM'] = pd.to_datetime(df_transito['SEM'], errors='coerce')
df_venta_promedio['SEM'] = pd.to_datetime(df_venta_promedio['SEM'], errors='coerce')
df_stock_tienda['SEM'] = pd.to_datetime(df_stock_tienda['SEM'], errors='coerce')

# Verificar nuevamente si hay valores irregulares después de la conversión
print("Valores irregulares tras la conversión:")
print("df_fc_promedio:", df_fc_promedio['SEM'].isnull().sum())
print("df_stock:", df_stock['SEM'].isnull().sum())
print("df_transito:", df_transito['SEM'].isnull().sum())
print("df_venta_promedio:", df_venta_promedio['SEM'].isnull().sum())
print("df_stock_tienda:", df_stock_tienda['SEM'].isnull().sum())

# Crear las columnas 'Año' y 'Semana' solo si no hay valores nulos en 'SEM'
if df_fc_promedio['SEM'].notnull().all():
    df_fc_promedio['Año'] = df_fc_promedio['SEM'].dt.year
    df_fc_promedio['Semana'] = df_fc_promedio['SEM'].dt.isocalendar().week

if df_stock['SEM'].notnull().all():
    df_stock['Año'] = df_stock['SEM'].dt.year
    df_stock['Semana'] = df_stock['SEM'].dt.isocalendar().week

if df_transito['SEM'].notnull().all():
    df_transito['Año'] = df_transito['SEM'].dt.year
    df_transito['Semana'] = df_transito['SEM'].dt.isocalendar().week

if df_venta_promedio['SEM'].notnull().all():
    df_venta_promedio['Año'] = df_venta_promedio['SEM'].dt.year
    df_venta_promedio['Semana'] = df_venta_promedio['SEM'].dt.isocalendar().week

if df_stock_tienda['SEM'].notnull().all():
    df_stock_tienda['Año'] = df_stock_tienda['SEM'].dt.year
    df_stock_tienda['Semana'] = df_stock_tienda['SEM'].dt.isocalendar().week

[False False False]
[False False False False False False False False False False False]
[False False False False False False False False False False False False
 False]
[False False False]
[False False False False False False False False]
Valores nulos o irregulares en 'SEM':
df_fc_promedio: 0
df_stock: 0
df_transito: 0
df_venta_promedio: 0
df_stock_tienda: 0
Valores irregulares tras la conversión:
df_fc_promedio: 0
df_stock: 0
df_transito: 0
df_venta_promedio: 0
df_stock_tienda: 0

In [18]:
df_transito

,Cantidad,Centro,Clase doc.,Descripcion,Fecha,Grupo de Compra,Material,Origen,Proveedor,SEM,Sector,Status TR Fact,Tipo,Año,Semana
0,90.0,712.0,ZSPT,None,2023-03-14,TT2,1094074,IMP,18574 CLARIOS ANDINA SAS,2023-01-01,Baterías,No Facturado,AFT,2023,52
1,240.0,712.0,ZSPT,None,2023-03-14,TT2,1094076,IMP,18574 CLARIOS ANDINA SAS,2023-01-01,Baterías,No Facturado,AFT,2023,52
2,105.0,712.0,ZSPT,None,2023-03-14,TT2,1094078,IMP,18574 CLARIOS ANDINA SAS,2023-01-01,Baterías,No Facturado,AFT,2023,52
3,315.0,712.0,ZSPT,None,2023-03-14,TT2,1094079,IMP,18574 CLARIOS ANDINA SAS,2023-01-01,Baterías,No Facturado,AFT,2023,52
4,216.0,712.0,ZSPT,None,2023-03-14,TT2,1094081,IMP,18574 CLARIOS ANDINA SAS,2023-01-01,Baterías,No Facturado,AFT,2023,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3503462,100.0,712.0,ZSPT,BAT CHA MF40B19FL 35AH 300 CCA,2024-07-23,TT2,141750,None,"Hankook & Company Co., Ltd.",2024-02-26,Baterías,Solped en Curso,AFM,2024,9
3503463,200.0,712.0,ZSPT,BAT CHA MF55457 55AH 420 CCA,2024-07-23,TT2,431542,None,"Hankook & Company Co., Ltd.",2024-02-26,Baterías,Solped en Curso,AFM,2024,9
3503464,50.0,712.0,ZSPT,BAT CHALLENGER V L D,2024-07-23,TT2,431548,None,"Hankook & Company Co., Ltd.",2024-02-26,Baterías,Solped en Curso,AFM,2024,9
3503465,40.0,712.0,ZSPT,BAT CHA MF55B24R 45AH 400 CCA,2024-07-23,TT2,431560,None,"Hankook & Company Co., Ltd.",2024-02-26,Baterías,Solped en Curso,AFM,2024,9
3503466,150.0,712.0,ZSPT,BAT CHA MF56828 68AH 600 CCA,2024-07-23,TT2,431558,None,"Hankook & Company Co., Ltd.",2024-02-26,Baterías,Solped en Curso,AFM,2024,9

In [19]:
# df_transito = df_transito[df_transito['SEM'].apply(lambda x: isinstance(x, pd.Timestamp))]

In [20]:
df_transito.shape

(3503467, 15)

In [21]:
df_fc_promedio['SEM'] = df_fc_promedio['SEM'].replace({
    '2024-09-02 00:00:00': '2024-09-03 00:00:00',
    '2024-06-17 00:00:00': '2024-06-18 00:00:00',
    '2024-04-22 00:00:00': '2024-04-23 00:00:00',
    '2024-06-03 00:00:00': '2024-06-04 00:00:00'
})
df_venta_promedio['SEM'] = df_venta_promedio['SEM'].replace({
    '2024-06-17 00:00:00': '2024-06-18 00:00:00',
    '2024-09-02 00:00:00': '2024-09-03 00:00:00',  # Este parece no necesitar cambio, pero lo incluyo por si acaso
    '2024-04-22 00:00:00': '2024-04-23 00:00:00'
})

In [22]:
# Mostrar las filas que tienen valores nulos en 'SEM'
nulos_transito = df_transito[df_transito['SEM'].isnull()]
print(nulos_transito)

# Mostrar un resumen de las filas con nulos
print(nulos_transito.describe(include='all'))

# Contar cuántas filas tienen valores nulos en 'SEM' respecto al total
total_filas = len(df_transito)
nulos_filas = len(nulos_transito)
proporcion_nulos = nulos_filas / total_filas * 100
print(f"Proporción de filas con SEM nulo: {proporcion_nulos:.2f}%")

Empty DataFrame
Columns: [Cantidad, Centro, Clase doc., Descripcion, Fecha, Grupo de Compra, Material, Origen, Proveedor, SEM, Sector, Status TR Fact, Tipo, Año, Semana]
Index: []
        Cantidad  Centro Clase doc. Descripcion Fecha Grupo de Compra  \
count        0.0     0.0          0           0     0               0
unique       NaN     NaN          0           0   NaN               0
top          NaN     NaN        NaN         NaN   NaN             NaN
freq         NaN     NaN        NaN         NaN   NaN             NaN
mean         NaN     NaN        NaN         NaN   NaT             NaN
min          NaN     NaN        NaN         NaN   NaT             NaN
25%          NaN     NaN        NaN         NaN   NaT             NaN
50%          NaN     NaN        NaN         NaN   NaT             NaN
75%          NaN     NaN        NaN         NaN   NaT             NaN
max          NaN     NaN        NaN         NaN   NaT             NaN
std          NaN     NaN        NaN         NaN   NaN             NaN

       Material Origen Proveedor  SEM Sector Status TR Fact Tipo  Año  Semana
count         0      0         0    0      0              0    0  0.0     0.0
unique        0      0         0  NaN      0              0    0  NaN    <NA>
top         NaN    NaN       NaN  NaN    NaN            NaN  NaN  NaN    <NA>
freq        NaN    NaN       NaN  NaN    NaN            NaN  NaN  NaN    <NA>
mean        NaN    NaN       NaN  NaT    NaN            NaN  NaN  NaN    <NA>
min         NaN    NaN       NaN  NaT    NaN            NaN  NaN  NaN    <NA>
25%         NaN    NaN       NaN  NaT    NaN            NaN  NaN  NaN    <NA>
50%         NaN    NaN       NaN  NaT    NaN            NaN  NaN  NaN    <NA>
75%         NaN    NaN       NaN  NaT    NaN            NaN  NaN  NaN    <NA>
max         NaN    NaN       NaN  NaT    NaN            NaN  NaN  NaN    <NA>
std         NaN    NaN       NaN  NaN    NaN            NaN  NaN  NaN    <NA>
Proporción de filas con SEM nulo: 0.00%

In [23]:
df_transito = df_transito.dropna(subset=['SEM'])
df_transito = df_transito[df_transito['SEM'] != '']
df_transito = df_transito.dropna(subset=['SEM'])

In [24]:
df_transito.shape

(3503467, 15)

In [25]:
df_stock = df_stock[df_stock['SEM'] > '2023-12-31']
df_stock_tienda = df_stock_tienda[df_stock_tienda['SEM'] > '2023-12-31']
df_fc_promedio = df_fc_promedio[df_fc_promedio['SEM'] > '2023-12-31']
df_transito = df_transito[df_transito['SEM'] > '2023-12-31']
df_venta_promedio = df_venta_promedio[df_venta_promedio['SEM'] > '2023-12-31']

In [26]:
df_transito = df_transito[df_transito['SEM'].dt.year > 2023]

In [27]:
df_transito.head(1)

,Cantidad,Centro,Clase doc.,Descripcion,Fecha,Grupo de Compra,Material,Origen,Proveedor,SEM,Sector,Status TR Fact,Tipo,Año,Semana
2532422,0.0,710.0,ZSTO,AXS.RAMAL ALZAVIDRIOS SYMBOL,2024-02-01,RR2,1048328,NAC,11396 Sebastian Lira Spa,2024-01-01,Accesorios,No Facturado,AXS,2024,1

In [28]:
# Mostrar las columnas de cada DataFrame
print("Columnas de df_fc_promedio:", df_fc_promedio.columns)
print("Columnas de df_stock:", df_stock.columns)
print("Columnas de df_transito:", df_transito.columns)
print("Columnas de df_venta_promedio:", df_venta_promedio.columns)
print("Columnas de df_stock_tienda:", df_stock_tienda.columns)

Columnas de df_fc_promedio: Index(['Material', 'FC Prom', 'SEM', 'Año', 'Semana'], dtype='object')
Columnas de df_stock: Index(['Almacén', 'Centro', 'Inspecc.de calidad', 'Libre utilización',
       'Material', 'Moneda', 'SEM', 'Trans./Trasl.', 'Val.trans.c/cond.',
       'Valor en insp.cal.', 'Valor libre util.', 'Año', 'Semana'],
      dtype='object')
Columnas de df_transito: Index(['Cantidad', 'Centro', 'Clase doc.', 'Descripcion', 'Fecha',
       'Grupo de Compra', 'Material', 'Origen', 'Proveedor', 'SEM', 'Sector',
       'Status TR Fact', 'Tipo', 'Año', 'Semana'],
      dtype='object')
Columnas de df_venta_promedio: Index(['SEM', 'Material', 'Vta promedio', 'Año', 'Semana'], dtype='object')
Columnas de df_stock_tienda: Index(['Material', 'SEM', 'Libre utilización', 'Valor libre util.',
       'Trans./Trasl.', 'Val.trans.c/cond.', 'Inspecc.de calidad',
       'Valor en insp.cal.', 'Año', 'Semana'],
      dtype='object')

In [29]:
print(f"Los valores únicos de la columna SEM en df_stock son: {df_venta_promedio['SEM'].unique()}")

Los valores únicos de la columna SEM en df_stock son: <DatetimeArray>
['2024-04-01 00:00:00', '2024-04-08 00:00:00', '2024-04-15 00:00:00',
 '2024-04-23 00:00:00', '2024-04-29 00:00:00', '2024-08-05 00:00:00',
 '2024-08-12 00:00:00', '2024-08-19 00:00:00', '2024-08-26 00:00:00',
 '2024-01-01 00:00:00', '2024-01-08 00:00:00', '2024-01-15 00:00:00',
 '2024-01-22 00:00:00', '2024-01-29 00:00:00', '2024-02-05 00:00:00',
 '2024-02-12 00:00:00', '2024-02-19 00:00:00', '2024-02-26 00:00:00',
 '2024-07-01 00:00:00', '2024-07-08 00:00:00', '2024-07-15 00:00:00',
 '2024-07-22 00:00:00', '2024-07-29 00:00:00', '2024-06-04 00:00:00',
 '2024-06-10 00:00:00', '2024-06-18 00:00:00', '2024-06-24 00:00:00',
 '2024-03-04 00:00:00', '2024-03-11 00:00:00', '2024-03-18 00:00:00',
 '2024-03-25 00:00:00', '2024-05-06 00:00:00', '2024-05-13 00:00:00',
 '2024-05-20 00:00:00', '2024-05-27 00:00:00', '2024-11-04 00:00:00',
 '2024-11-11 00:00:00', '2024-11-18 00:00:00', '2024-11-25 00:00:00',
 '2024-10-07 00:00:00', '2024-10-14 00:00:00', '2024-10-21 00:00:00',
 '2024-10-28 00:00:00', '2024-09-03 00:00:00', '2024-09-09 00:00:00',
 '2024-09-16 00:00:00', '2024-09-23 00:00:00', '2024-09-30 00:00:00']
Length: 48, dtype: datetime64[ns]

In [30]:
# diff_stock_tienda = set(df_stock['SEM']).difference(set(df_stock_tienda['SEM']))
diff_fc_promedio = set(df_stock['SEM']).difference(set(df_fc_promedio['SEM']))
# diff_transito = set(df_stock['SEM']).difference(set(df_transito['SEM']))
diff_venta_promedio = set(df_stock['SEM']).difference(set(df_venta_promedio['SEM']))

# print(f"Valores en SEM de df_stock que no están en df_stock_tienda: {diff_stock_tienda}")
print(f"Valores en SEM de df_stock que no están en df_fc_promedio: {diff_fc_promedio}")
# print(f"Valores en SEM de df_stock que no están en df_transito: {diff_transito}")
print(f"Valores en SEM de df_stock que no están en df_venta_promedio: {diff_venta_promedio}")

Valores en SEM de df_stock que no están en df_fc_promedio: set()
Valores en SEM de df_stock que no están en df_venta_promedio: set()

In [31]:
df_stock_tienda['Total_Stock_TDA'] = df_stock_tienda[['Libre utilización', 'Trans./Trasl.', 'Inspecc.de calidad']].sum(axis=1)
df_stock_tienda['Total_Stock_TDA'] = df_stock_tienda['Total_Stock_TDA'].apply(lambda x: 0 if x < 0 else x)
df_stock['Total_Stock'] = df_stock[['Libre utilización', 'Trans./Trasl.', 'Inspecc.de calidad']].sum(axis=1)
df_stock['Total_Stock'] = df_stock['Total_Stock'].apply(lambda x: 0 if x < 0 else x)

In [32]:
df_stock_tienda.head(1)

,Material,SEM,Libre utilización,Valor libre util.,Trans./Trasl.,Val.trans.c/cond.,Inspecc.de calidad,Valor en insp.cal.,Año,Semana,Total_Stock_TDA
0,1000078,2024-01-08,-1.0,-1155.0,0.0,0.0,0,0.0,2024,2,0.0

In [33]:
df_stock.head(1)

,Almacén,Centro,Inspecc.de calidad,Libre utilización,Material,Moneda,SEM,Trans./Trasl.,Val.trans.c/cond.,Valor en insp.cal.,Valor libre util.,Año,Semana,Total_Stock
1075386,1100.0,714.0,0.0,2.0,100519,None,2024-01-01,0.0,0.0,0.0,5406.0,2024,1,2.0

In [34]:
df_fc_promedio['Material'] = df_fc_promedio['Material'].astype(str)
df_stock['Material'] = df_stock['Material'].astype(str)
df_transito['Material'] = df_transito['Material'].astype(str)
df_venta_promedio['Material'] = df_venta_promedio['Material'].astype(str)
df_stock_tienda['Material'] = df_stock_tienda['Material'].astype(str)

In [35]:
import os
import pandas as pd
import datetime
import glob

usuario = os.path.expanduser('~').split('\\')[-1]
año_actual = datetime.datetime.now().year
mes_actual = datetime.datetime.now().strftime('%m')

ruta_directorio = f"C:\\Users\\{usuario}\\DERCO CHILE REPUESTOS SpA\\Planificación y abastecimiento - Documentos\\Planificación y Compras Maestros\\{año_actual}\\{año_actual}-{mes_actual}\\MaestrosCSV\\"
archivos_cod = glob.glob(os.path.join(ruta_directorio, "*COD*.csv"))

if archivos_cod:
    archivo_cod = archivos_cod[0]
    ultimoeslabon = pd.read_csv(archivo_cod, delimiter=';', encoding='latin-1', decimal=',')
else:
    print("No se encontró ningún archivo que contenga 'COD' en el nombre en el directorio especificado.")

In [36]:
# ultimoeslabon = ultimoeslabon.loc[:, ['Nro_pieza_fabricante_1', 'Cod_Actual_1']]
# ultimoeslabon.head(1)

CRUZAR UE A TODO

In [37]:
# # Función para hacer el merge y aplicar la lógica para cada DataFrame
# def merge_material(df):
#     df = df.merge(ultimoeslabon[['Nro_pieza_fabricante_1', 'Cod_Actual_1']], 
#                   left_on='Material', right_on='Nro_pieza_fabricante_1', how='left')
    
#     df['Cod_Actual_1'] = df['Cod_Actual_1'].fillna(df['Material'])
#     df = df.drop(columns=['Material', 'Nro_pieza_fabricante_1'])
#     df = df.rename(columns={'Cod_Actual_1': 'Material'})
    
#     return df

# # Aplicar la función a cada DataFrame
# df_fc_promedio = merge_material(df_fc_promedio)
# df_stock = merge_material(df_stock)
# df_transito = merge_material(df_transito)
# df_venta_promedio = merge_material(df_venta_promedio)
# df_stock_tienda = merge_material(df_stock_tienda)

In [38]:
# For df_fc_promedio
print("Columns in df_fc_promedio not in df_fc_promedio_filtered:")
print(set(df_fc_promedio.columns))
print("\nColumns in df_stock not in df_stock_filtered:")
print(set(df_stock.columns))

# For df_transito
print("\nColumns in df_transito not in df_transito_filtered:")
print(set(df_transito.columns))

# For df_venta_promedio
print("\nColumns in df_venta_promedio not in df_venta_promedio_filtered:")
print(set(df_venta_promedio.columns) )

# For df_stock_tienda
print("\nColumns in df_stock_tienda not in df_stock_tienda_filtered:")
print(set(df_stock_tienda.columns))

Columns in df_fc_promedio not in df_fc_promedio_filtered:
{'SEM', 'Semana', 'Año', 'FC Prom', 'Material'}

Columns in df_stock not in df_stock_filtered:
{'SEM', 'Valor libre util.', 'Año', 'Inspecc.de calidad', 'Semana', 'Total_Stock', 'Libre utilización', 'Valor en insp.cal.', 'Almacén', 'Material', 'Centro', 'Moneda', 'Trans./Trasl.', 'Val.trans.c/cond.'}

Columns in df_transito not in df_transito_filtered:
{'SEM', 'Fecha', 'Año', 'Cantidad', 'Semana', 'Origen', 'Descripcion', 'Material', 'Status TR Fact', 'Tipo', 'Grupo de Compra', 'Proveedor', 'Clase doc.', 'Centro', 'Sector'}

Columns in df_venta_promedio not in df_venta_promedio_filtered:
{'SEM', 'Semana', 'Año', 'Vta promedio', 'Material'}

Columns in df_stock_tienda not in df_stock_tienda_filtered:
{'SEM', 'Valor libre util.', 'Año', 'Inspecc.de calidad', 'Semana', 'Libre utilización', 'Valor en insp.cal.', 'Material', 'Total_Stock_TDA', 'Val.trans.c/cond.', 'Trans./Trasl.'}

In [39]:
import pandas as pd

# Filtrar solo las columnas 'Material' y 'SEM' de cada dataframe
df_fc_promedio_filtered = df_fc_promedio[['Material', 'SEM']]
df_stock_filtered = df_stock[['Material', 'SEM']]
df_transito_filtered = df_transito[['Material', 'SEM']]
df_venta_promedio_filtered = df_venta_promedio[['Material', 'SEM']]
df_stock_tienda_filtered = df_stock_tienda[['Material', 'SEM']]

# Concatenar todos los dataframes filtrados y eliminar duplicados
df_combined = pd.concat([df_fc_promedio_filtered, df_stock_filtered, df_transito_filtered, df_venta_promedio_filtered, df_stock_tienda_filtered])
df_combined
df_combined_unique = df_combined.drop_duplicates()
alcance = df_combined_unique
alcance

        Material        SEM
1826799  1000078 2024-04-01
1826800  1000144 2024-04-01
1826801  1000147 2024-04-01
1826802  1000148 2024-04-01
1826803  1000149 2024-04-01
...          ...        ...
1380052   762648 2024-03-25
1380053   762648 2024-04-01
1380054   762648 2024-08-12
1380055   762648 2024-11-11
1380056   770240 2024-06-24

[2020853 rows x 2 columns]

### GroupBY

In [40]:
# Mostrar las columnas de cada DataFrame
print("Columnas de df_fc_promedio:", df_fc_promedio.columns)
print("Columnas de df_stock:", df_stock.columns)
print("Columnas de df_transito:", df_transito.columns)
print("Columnas de df_venta_promedio:", df_venta_promedio.columns)
print("Columnas de df_stock_tienda:", df_stock_tienda.columns)

Columnas de df_fc_promedio: Index(['Material', 'FC Prom', 'SEM', 'Año', 'Semana'], dtype='object')
Columnas de df_stock: Index(['Almacén', 'Centro', 'Inspecc.de calidad', 'Libre utilización',
       'Material', 'Moneda', 'SEM', 'Trans./Trasl.', 'Val.trans.c/cond.',
       'Valor en insp.cal.', 'Valor libre util.', 'Año', 'Semana',
       'Total_Stock'],
      dtype='object')
Columnas de df_transito: Index(['Cantidad', 'Centro', 'Clase doc.', 'Descripcion', 'Fecha',
       'Grupo de Compra', 'Material', 'Origen', 'Proveedor', 'SEM', 'Sector',
       'Status TR Fact', 'Tipo', 'Año', 'Semana'],
      dtype='object')
Columnas de df_venta_promedio: Index(['SEM', 'Material', 'Vta promedio', 'Año', 'Semana'], dtype='object')
Columnas de df_stock_tienda: Index(['Material', 'SEM', 'Libre utilización', 'Valor libre util.',
       'Trans./Trasl.', 'Val.trans.c/cond.', 'Inspecc.de calidad',
       'Valor en insp.cal.', 'Año', 'Semana', 'Total_Stock_TDA'],
      dtype='object')

In [41]:
def check_duplicates(df, name):
    if df.duplicated(subset=['Material', 'SEM']).any():
        print(f"El DataFrame {name} tiene duplicados en las columnas 'Material' y 'SEM'.")
    else:
        print(f"El DataFrame {name} no tiene duplicados en las columnas 'Material' y 'SEM'.")

check_duplicates(df_fc_promedio, 'df_fc_promedio')
check_duplicates(df_stock, 'df_stock')
check_duplicates(df_transito, 'df_transito')
check_duplicates(df_venta_promedio, 'df_venta_promedio')
check_duplicates(df_stock_tienda, 'df_stock_tienda')

El DataFrame df_fc_promedio no tiene duplicados en las columnas 'Material' y 'SEM'.
El DataFrame df_stock tiene duplicados en las columnas 'Material' y 'SEM'.
El DataFrame df_transito tiene duplicados en las columnas 'Material' y 'SEM'.
El DataFrame df_venta_promedio no tiene duplicados en las columnas 'Material' y 'SEM'.
El DataFrame df_stock_tienda no tiene duplicados en las columnas 'Material' y 'SEM'.

In [42]:

df_agrupado = df_transito.groupby(['SEM', 'Material'])['Cantidad'].sum().reset_index()
df_agrupado['Año'] = df_agrupado['SEM'].dt.year
df_agrupado['Semana'] = df_agrupado['SEM'].dt.isocalendar().week
df_transito=df_agrupado
df_transito

              SEM Material  Cantidad   Año  Semana
0      2024-01-01  1000148     504.0  2024       1
1      2024-01-01  1000149    1056.0  2024       1
2      2024-01-01  1000150    1800.0  2024       1
3      2024-01-01  1000151     408.0  2024       1
4      2024-01-01  1000153     408.0  2024       1
...           ...      ...       ...   ...     ...
313558 2024-11-11   762487       1.0  2024      46
313559 2024-11-11   762513       1.0  2024      46
313560 2024-11-11   762560       0.0  2024      46
313561 2024-11-11   762639       0.0  2024      46
313562 2024-11-11      nan     606.0  2024      46

[313563 rows x 5 columns]

In [43]:
# Agrupar por SEM y Material, sumando Total_Stock
df_stock_grouped = df_stock.groupby(['SEM', 'Material'], as_index=False).agg({'Total_Stock': 'sum'})
# Crear las columnas Año y Semana a partir de SEM
df_stock_grouped['Año'] = df_stock_grouped['SEM'].dt.year
df_stock_grouped['Semana'] = df_stock_grouped['SEM'].dt.isocalendar().week
df_stock=df_stock_grouped
# Mostrar el resultado
df_stock

              SEM Material  Total_Stock   Año  Semana
0      2024-01-01  1000143         12.0  2024       1
1      2024-01-01  1000147         12.0  2024       1
2      2024-01-01  1000148         36.0  2024       1
3      2024-01-01  1000149        616.0  2024       1
4      2024-01-01  1000150        483.0  2024       1
...           ...      ...          ...   ...     ...
582640 2024-11-11   744686          3.0  2024      46
582641 2024-11-11   744689          3.0  2024      46
582642 2024-11-11   744720          1.0  2024      46
582643 2024-11-11   750809         12.0  2024      46
582644 2024-11-11   750816          9.0  2024      46

[582645 rows x 5 columns]

In [44]:
df_transito

              SEM Material  Cantidad   Año  Semana
0      2024-01-01  1000148     504.0  2024       1
1      2024-01-01  1000149    1056.0  2024       1
2      2024-01-01  1000150    1800.0  2024       1
3      2024-01-01  1000151     408.0  2024       1
4      2024-01-01  1000153     408.0  2024       1
...           ...      ...       ...   ...     ...
313558 2024-11-11   762487       1.0  2024      46
313559 2024-11-11   762513       1.0  2024      46
313560 2024-11-11   762560       0.0  2024      46
313561 2024-11-11   762639       0.0  2024      46
313562 2024-11-11      nan     606.0  2024      46

[313563 rows x 5 columns]

In [45]:
def check_duplicates(df, name):
    if df.duplicated(subset=['Material', 'SEM']).any():
        print(f"El DataFrame {name} tiene duplicados en las columnas 'Material' y 'SEM'.")
    else:
        print(f"El DataFrame {name} no tiene duplicados en las columnas 'Material' y 'SEM'.")

check_duplicates(df_fc_promedio, 'df_fc_promedio')
check_duplicates(df_stock, 'df_stock')
check_duplicates(df_transito, 'df_transito')
check_duplicates(df_venta_promedio, 'df_venta_promedio')
check_duplicates(df_stock_tienda, 'df_stock_tienda')

El DataFrame df_fc_promedio no tiene duplicados en las columnas 'Material' y 'SEM'.
El DataFrame df_stock no tiene duplicados en las columnas 'Material' y 'SEM'.
El DataFrame df_transito no tiene duplicados en las columnas 'Material' y 'SEM'.
El DataFrame df_venta_promedio no tiene duplicados en las columnas 'Material' y 'SEM'.
El DataFrame df_stock_tienda no tiene duplicados en las columnas 'Material' y 'SEM'.

In [46]:
alcance = alcance.merge(df_fc_promedio[['Material', 'SEM', 'FC Prom']], 
                        on=['Material', 'SEM'], 
                        how='left')

In [47]:
alcance = alcance.merge(df_stock[['Material', 'SEM', 'Total_Stock']], 
                        on=['Material', 'SEM'], 
                        how='left')

In [48]:
alcance = alcance.merge(df_transito[['Material', 'SEM', 'Cantidad']], 
                        on=['Material', 'SEM'], 
                        how='left')

In [49]:
alcance = alcance.merge(df_venta_promedio[['Material', 'SEM', 'Vta promedio']], 
                        on=['Material', 'SEM'], 
                        how='left')

In [50]:
alcance = alcance.merge(df_stock_tienda[['Material', 'SEM', 'Total_Stock_TDA']], 
                        on=['Material', 'SEM'], 
                        how='left')

In [51]:

import numpy as np
columnas_a_reemplazar = ['FC Prom', 'Total_Stock', 'Cantidad', 'Vta promedio', 'Total_Stock_TDA']

for columna in columnas_a_reemplazar:
    alcance[columna] = alcance[columna].replace([np.inf, -np.inf], np.nan)  # Reemplazar infinitos por NaN
    alcance[columna] = alcance[columna].fillna(0)  # Reemplazar NaN por 0
    alcance[columna] = alcance[columna].replace('', 0)  # Reemplazar cadenas vacías por 0

In [52]:
alcance = alcance.rename(columns={'Cantidad': 'Transito'})

In [53]:
alcance

,Material,SEM,FC Prom,Total_Stock,Transito,Vta promedio,Total_Stock_TDA
0,1000078,2024-04-01,0.000000,0.0,0.0,0.333333,0.0
1,1000144,2024-04-01,0.000000,0.0,0.0,1.000000,3.0
2,1000147,2024-04-01,47.295876,12.0,744.0,53.333333,328.0
3,1000148,2024-04-01,76.318375,0.0,504.0,90.333333,317.0
4,1000149,2024-04-01,179.189365,1106.0,0.0,155.000000,657.0
...,...,...,...,...,...,...,...
2020848,762648,2024-03-25,0.000000,0.0,0.0,0.000000,1.0
2020849,762648,2024-04-01,0.000000,0.0,0.0,0.000000,1.0
2020850,762648,2024-08-12,0.000000,0.0,0.0,0.000000,1.0
2020851,762648,2024-11-11,0.000000,0.0,0.0,0.000000,1.0
2020852,770240,2024-06-24,0.000000,0.0,0.0,0.000000,1.0

In [54]:
alcance['Año'] = alcance['SEM'].dt.year
alcance['Semana'] = alcance['SEM'].dt.isocalendar().week

In [55]:
alcance

,Material,SEM,FC Prom,Total_Stock,Transito,Vta promedio,Total_Stock_TDA,Año,Semana
0,1000078,2024-04-01,0.000000,0.0,0.0,0.333333,0.0,2024,14
1,1000144,2024-04-01,0.000000,0.0,0.0,1.000000,3.0,2024,14
2,1000147,2024-04-01,47.295876,12.0,744.0,53.333333,328.0,2024,14
3,1000148,2024-04-01,76.318375,0.0,504.0,90.333333,317.0,2024,14
4,1000149,2024-04-01,179.189365,1106.0,0.0,155.000000,657.0,2024,14
...,...,...,...,...,...,...,...,...,...
2020848,762648,2024-03-25,0.000000,0.0,0.0,0.000000,1.0,2024,13
2020849,762648,2024-04-01,0.000000,0.0,0.0,0.000000,1.0,2024,14
2020850,762648,2024-08-12,0.000000,0.0,0.0,0.000000,1.0,2024,33
2020851,762648,2024-11-11,0.000000,0.0,0.0,0.000000,1.0,2024,46
2020852,770240,2024-06-24,0.000000,0.0,0.0,0.000000,1.0,2024,26

In [56]:
alcance

,Material,SEM,FC Prom,Total_Stock,Transito,Vta promedio,Total_Stock_TDA,Año,Semana
0,1000078,2024-04-01,0.000000,0.0,0.0,0.333333,0.0,2024,14
1,1000144,2024-04-01,0.000000,0.0,0.0,1.000000,3.0,2024,14
2,1000147,2024-04-01,47.295876,12.0,744.0,53.333333,328.0,2024,14
3,1000148,2024-04-01,76.318375,0.0,504.0,90.333333,317.0,2024,14
4,1000149,2024-04-01,179.189365,1106.0,0.0,155.000000,657.0,2024,14
...,...,...,...,...,...,...,...,...,...
2020848,762648,2024-03-25,0.000000,0.0,0.0,0.000000,1.0,2024,13
2020849,762648,2024-04-01,0.000000,0.0,0.0,0.000000,1.0,2024,14
2020850,762648,2024-08-12,0.000000,0.0,0.0,0.000000,1.0,2024,33
2020851,762648,2024-11-11,0.000000,0.0,0.0,0.000000,1.0,2024,46
2020852,770240,2024-06-24,0.000000,0.0,0.0,0.000000,1.0,2024,26

In [83]:
import os
import pandas as pd

# Obtener el usuario actual del sistema
usuario = os.path.expanduser('~').split('\\')[-1]

# Definir ruta dinámica basada en el usuario
ruta_costos = fr"C:\Users\{usuario}\DERCO CHILE REPUESTOS SpA\Planificación y abastecimiento - Documentos\KPI\Gerenciamiento Alcances\PBI\AFM\Costos.xlsx"

# Leer el archivo Excel
if os.path.exists(ruta_costos):
    df_costos = pd.read_excel(ruta_costos)
    print(df_costos.head(1))
else:
    print(f"El archivo {ruta_costos} no existe. Verifica su configuración.")

  Material Actual  Costo UN Tipo   Sector
0               1   18960.0  OEM  Renault

In [58]:
# df_costos = df_costos.drop(columns=['Material'])

In [59]:
df_costos

       Material Actual  Costo UN Tipo                Sector
0                    1   18960.0  OEM               Renault
1                    2    2844.0  OEM               Renault
2                    3    1896.0  OEM               Renault
3                    4    4740.0  OEM               Renault
4                    5    4740.0  OEM               Renault
...                ...       ...  ...                   ...
297284         1171902   15827.0  AFM            Neumáticos
297285         1171903   21855.0  AFM            Neumáticos
297286         1171904   15888.0  AFM            Neumáticos
297287         1171905   22705.0  AFM   Accesorios-Car Care
297288         1171906   20900.0  AFM  Rep.Alter.Maquinaria

[297289 rows x 4 columns]

In [60]:
df_costos = df_costos.rename(columns={'Material Actual': 'Material'})
print(df_costos.head())

  Material  Costo UN Tipo   Sector
0        1   18960.0  OEM  Renault
1        2    2844.0  OEM  Renault
2        3    1896.0  OEM  Renault
3        4    4740.0  OEM  Renault
4        5    4740.0  OEM  Renault

In [61]:
duplicados = df_costos[df_costos['Material'].duplicated()]

# Imprimir el número de duplicados
print(f"Número de filas con Material duplicado: {len(duplicados)}")

Número de filas con Material duplicado: 0

In [62]:
alcance = alcance.merge(df_costos[['Material', 'Costo UN']], 
                        on='Material', 
                        how='left')

In [63]:
alcance

,Material,SEM,FC Prom,Total_Stock,Transito,Vta promedio,Total_Stock_TDA,Año,Semana,Costo UN
0,1000078,2024-04-01,0.000000,0.0,0.0,0.333333,0.0,2024,14,1116.000000
1,1000144,2024-04-01,0.000000,0.0,0.0,1.000000,3.0,2024,14,1436.000000
2,1000147,2024-04-01,47.295876,12.0,744.0,53.333333,328.0,2024,14,4481.220155
3,1000148,2024-04-01,76.318375,0.0,504.0,90.333333,317.0,2024,14,3946.136270
4,1000149,2024-04-01,179.189365,1106.0,0.0,155.000000,657.0,2024,14,3725.767442
...,...,...,...,...,...,...,...,...,...,...
2020848,762648,2024-03-25,0.000000,0.0,0.0,0.000000,1.0,2024,13,199.259259
2020849,762648,2024-04-01,0.000000,0.0,0.0,0.000000,1.0,2024,14,199.259259
2020850,762648,2024-08-12,0.000000,0.0,0.0,0.000000,1.0,2024,33,199.259259
2020851,762648,2024-11-11,0.000000,0.0,0.0,0.000000,1.0,2024,46,199.259259
2020852,770240,2024-06-24,0.000000,0.0,0.0,0.000000,1.0,2024,26,8142.000000

In [64]:
alcance['Total_Stock_$'] = alcance['Total_Stock'] * alcance['Costo UN']

alcance['Total_Stock_TDA_$'] = alcance['Total_Stock_TDA'] * alcance['Costo UN']

alcance['FC Prom_$'] = alcance['FC Prom'] * alcance['Costo UN']

alcance['Transito_$'] = alcance['Transito'] * alcance['Costo UN']

alcance['Vta promedio_$'] = alcance['Vta promedio'] * alcance['Costo UN']

alcance.head(1)

,Material,SEM,FC Prom,Total_Stock,Transito,Vta promedio,Total_Stock_TDA,Año,Semana,Costo UN,Total_Stock_$,Total_Stock_TDA_$,FC Prom_$,Transito_$,Vta promedio_$
0,1000078,2024-04-01,0.0,0.0,0.0,0.333333,0.0,2024,14,1116.0,0.0,0.0,0.0,0.0,372.0

In [65]:
alcance['Alcance_CD'] = alcance['Total_Stock_$'] / alcance['Vta promedio_$']
alcance['Alcance_TR'] = alcance['Transito_$'] / alcance['Vta promedio_$']
alcance['Alcance_TDA'] = alcance['Total_Stock_TDA_$'] / alcance['Vta promedio_$']
alcance['Alcance_total'] = alcance['Alcance_CD'] + alcance['Alcance_TDA'] + alcance['Alcance_TR']

alcance['Cob_TR'] = alcance['Transito_$'] / alcance['FC Prom_$']
alcance['Cob_CD'] = alcance['Total_Stock_$'] / alcance['FC Prom_$']
alcance['Cob_TDA'] = alcance['Total_Stock_TDA_$'] / alcance['FC Prom_$']
alcance['Cob_Total'] = alcance['Cob_CD'] + alcance['Cob_TDA'] + alcance['Cob_TR']

In [66]:
alcance.columns

Index(['Material', 'SEM', 'FC Prom', 'Total_Stock', 'Transito', 'Vta promedio',
       'Total_Stock_TDA', 'Año', 'Semana', 'Costo UN', 'Total_Stock_$',
       'Total_Stock_TDA_$', 'FC Prom_$', 'Transito_$', 'Vta promedio_$',
       'Alcance_CD', 'Alcance_TR', 'Alcance_TDA', 'Alcance_total', 'Cob_TR',
       'Cob_CD', 'Cob_TDA', 'Cob_Total'],
      dtype='object')

In [67]:
alcance['Stock_Piso_$'] = alcance['Total_Stock_$'] + alcance['Total_Stock_TDA_$']

In [68]:
filtro = alcance[(alcance['Semana'] == 41) & (alcance['Año'] == 2024)]

suma_total_stock = filtro['Total_Stock_$'].sum()
suma_total_stock_tda = filtro['Total_Stock_TDA_$'].sum()
suma_fc_prom = filtro['FC Prom_$'].sum()
suma_cantidad_tr = filtro['Transito_$'].sum()
suma_vta_promedio = filtro['Vta promedio_$'].sum()

print(f"Suma Total_Stock_$: ${suma_total_stock:,.2f}")
print(f"Suma Total_Stock_TDA_$: ${suma_total_stock_tda:,.2f}")
print(f"Suma FC Prom_$: ${suma_fc_prom:,.2f}")
print(f"Suma Transito_$: ${suma_cantidad_tr:,.2f}")
print(f"Suma Vta promedio_$: ${suma_vta_promedio:,.2f}")

Suma Total_Stock_$: $15,353,065,889.65
Suma Total_Stock_TDA_$: $13,302,012,451.97
Suma FC Prom_$: $5,048,267,930.22
Suma Transito_$: $22,918,743,650.94
Suma Vta promedio_$: $4,268,915,064.19

In [69]:
ultimoeslabon

      Nro_pieza_fabricante_1 Cod_Actual_1
0                     576743       550316
1                     583804       562248
2                     584237       505837
3                     584699       567351
4                     578108       555235
...                      ...          ...
93448                 574285       508612
93449                1105867      1105868
93450                1171423      1171423
93451                 134926      1171423
93452                 123228      1171423

[93453 rows x 2 columns]

In [70]:
alcance.columns

Index(['Material', 'SEM', 'FC Prom', 'Total_Stock', 'Transito', 'Vta promedio',
       'Total_Stock_TDA', 'Año', 'Semana', 'Costo UN', 'Total_Stock_$',
       'Total_Stock_TDA_$', 'FC Prom_$', 'Transito_$', 'Vta promedio_$',
       'Alcance_CD', 'Alcance_TR', 'Alcance_TDA', 'Alcance_total', 'Cob_TR',
       'Cob_CD', 'Cob_TDA', 'Cob_Total', 'Stock_Piso_$'],
      dtype='object')

In [71]:
# Reemplazar los valores NaN por 0 en las columnas especificadas
alcance.fillna({'FC Prom': 0, 'Total_Stock': 0, 'Transito': 0, 'Vta promedio': 0,
    'Total_Stock_TDA': 0, 'Año': 0, 'Semana': 0, 'Costo UN': 0, 'Total_Stock_$': 0,
    'Total_Stock_TDA_$': 0, 'FC Prom_$': 0, 'Transito_$': 0, 'Vta promedio_$': 0,
    'Alcance_CD': 0, 'Alcance_TR': 0, 'Alcance_TDA': 0, 'Alcance_total': 0, 'Cob_TR': 0,
    'Cob_CD': 0, 'Cob_TDA': 0, 'Cob_Total': 0, 'Stock_Piso_$': 0
}, inplace=True)

# Realizar el merge entre los DataFrames alcance y ultimoeslabon
merged_df = alcance.merge(ultimoeslabon[['Nro_pieza_fabricante_1', 'Cod_Actual_1']],
                          how='left', left_on='Material', right_on='Nro_pieza_fabricante_1')

# Reemplazar los valores de Cod_Actual_1 que no se encontraron con Material
merged_df['Cod_Actual_1'].fillna(merged_df['Material'], inplace=True)

# Dropear la columna 'Material' y renombrar 'Cod_Actual_1' a 'Material'
merged_df.drop('Material', axis=1, inplace=True)
merged_df.rename(columns={'Cod_Actual_1': 'Material'}, inplace=True)

# Dropear las columnas 'Año' y 'Semana'
merged_df.drop(['Año', 'Semana'], axis=1, inplace=True)

# Agrupar por 'SEM' y 'Material', sumando las demás columnas
agrupado_df = merged_df.groupby(['SEM', 'Material']).sum().reset_index()

agrupado_df.head()

C:\Users\etorres.DERCOPARTS\AppData\Local\Temp\ipykernel_20736\1754613344.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_df['Cod_Actual_1'].fillna(merged_df['Material'], inplace=True)

,SEM,Material,FC Prom,Total_Stock,Transito,Vta promedio,Total_Stock_TDA,Costo UN,Total_Stock_$,Total_Stock_TDA_$,...,Alcance_CD,Alcance_TR,Alcance_TDA,Alcance_total,Cob_TR,Cob_CD,Cob_TDA,Cob_Total,Stock_Piso_$,Nro_pieza_fabricante_1
0,2024-01-01,1000143,0.000000,12.0,0.0,0.000000,0.0,1496.000000,1.795200e+04,0.000000e+00,...,inf,0.000000,0.000000,0.000000,0.000000,inf,0.000000,0.000000,1.795200e+04,0
1,2024-01-01,1000144,0.000000,0.0,0.0,2.666667,9.0,1436.000000,0.000000e+00,1.292400e+04,...,0.000000,0.000000,3.375000,3.375000,0.000000,0.000000,inf,0.000000,1.292400e+04,0
2,2024-01-01,1000147,69.553421,12.0,0.0,54.333333,484.0,4481.220155,5.377464e+04,2.168911e+06,...,0.220859,0.000000,8.907975,9.128834,0.000000,0.172529,6.958680,7.131209,2.222685e+06,0
3,2024-01-01,1000148,120.000000,36.0,504.0,64.000000,516.0,3946.136270,1.420609e+05,2.036206e+06,...,0.562500,7.875000,8.062500,16.500000,4.200000,0.300000,4.300000,8.800000,2.178267e+06,0
4,2024-01-01,1000149,214.669880,616.0,1056.0,139.333333,573.0,3725.767442,2.295073e+06,2.134865e+06,...,4.421053,7.578947,4.112440,16.112440,4.919181,2.869522,2.669215,10.457918,4.429937e+06,0

In [72]:
filtro = alcance[(alcance['Semana'] == 41) & (alcance['Año'] == 2024)]

suma_total_stock = filtro['Total_Stock_$'].sum()
suma_total_stock_tda = filtro['Total_Stock_TDA_$'].sum()
suma_fc_prom = filtro['FC Prom_$'].sum()
suma_cantidad_tr = filtro['Transito_$'].sum()
suma_vta_promedio = filtro['Vta promedio_$'].sum()

print(f"Suma Total_Stock_$: ${suma_total_stock:,.2f}")
print(f"Suma Total_Stock_TDA_$: ${suma_total_stock_tda:,.2f}")
print(f"Suma FC Prom_$: ${suma_fc_prom:,.2f}")
print(f"Suma Transito_$: ${suma_cantidad_tr:,.2f}")
print(f"Suma Vta promedio_$: ${suma_vta_promedio:,.2f}")

Suma Total_Stock_$: $15,353,065,889.65
Suma Total_Stock_TDA_$: $13,302,012,451.97
Suma FC Prom_$: $5,048,267,930.22
Suma Transito_$: $22,918,743,650.94
Suma Vta promedio_$: $4,268,915,064.19

### Suma Total_Stock_$: $15,971,135,853.40
# Suma Total_Stock_TDA_$: $13,831,165,268.72
# Suma FC Prom_$: $5,001,431,538.49
# Suma Transito_$: $20,110,048,748.59
# Suma Vta promedio_$: $4,398,534,256.18

In [82]:
import datetime

year_actual = datetime.datetime.now().year
week_actual = datetime.datetime.now().isocalendar().week

parquet_filename = f"Alcance_Sem{week_actual}_Año{year_actual}.parquet"
usuario = os.path.expanduser('~').split('\\')[-1]

# Definir la ruta dinámica basada en el usuario
export_path = fr"C:\Users\{usuario}\DERCO CHILE REPUESTOS SpA\Planificación y abastecimiento - Documentos\KPI\Instock Semanal\tablero instock - VERSION\Parquet_Alcance"

# Validar si la ruta existe
if os.path.exists(export_path):
    print(f"La ruta {export_path} existe.")
else:
    print(f"La ruta {export_path} no existe. Verifica su configuración.")

alcance.to_parquet(f"{export_path}\\{parquet_filename}")

La ruta C:\Users\etorres.DERCOPARTS\DERCO CHILE REPUESTOS SpA\Planificación y abastecimiento - Documentos\KPI\Instock Semanal\tablero instock - VERSION\Parquet_Alcance existe.

In [74]:
df_stock.columns

Index(['SEM', 'Material', 'Total_Stock', 'Año', 'Semana'], dtype='object')

## ALCANCE A CSV PARA ANÁLISIS EN POWER QUERY (OPCIONAL)

Mara

In [75]:
import os
import pandas as pd
import datetime
import glob

usuario = os.path.expanduser('~').split('\\')[-1]
año_actual = datetime.datetime.now().year
mes_actual = datetime.datetime.now().strftime('%m')

ruta_directorio = f"C:\\Users\\{usuario}\\DERCO CHILE REPUESTOS SpA\\Planificación y abastecimiento - Documentos\\Planificación y Compras Maestros\\{año_actual}\\{año_actual}-{mes_actual}\\MaestrosCSV\\"
archivos_mara = glob.glob(os.path.join(ruta_directorio, "*MARA*.csv"))

if archivos_mara:
    archivo_mara = archivos_mara[0]
    mara = pd.read_csv(archivo_mara, sep=';')
else:
    print("No se encontró ningún archivo que contenga 'MARA' en el nombre en el directorio especificado.")
mara_reducido = mara[['Material_S4', 'Nombre Sector']]
mara=mara_reducido

In [76]:
mara

       Material_S4 Nombre Sector
0           654562     JAC Truck
1           657458     JAC Truck
2           600133     JAC Truck
3           704707     JAC Truck
4           616940     JAC Truck
...            ...           ...
451695     1126331           LUB
451696     1164780           LUB
451697      397262           ACC
451698     1122653          RALT
451699     1140833           BAT

[451700 rows x 2 columns]

In [80]:
import os
import pandas as pd

# Obtener el usuario actual del sistema
usuario = os.path.expanduser('~').split('\\')[-1]

# Definir rutas dinámicas basadas en el usuario
ruta_parquet = fr"C:\Users\{usuario}\DERCO CHILE REPUESTOS SpA\Planificación y abastecimiento - Documentos\KPI\Instock Semanal\tablero instock - VERSION\Parquet_Alcance"
ruta_csv = fr"C:\Users\{usuario}\DERCO CHILE REPUESTOS SpA\Planificación y abastecimiento - Documentos\KPI\Gerenciamiento Alcances\PBI\Alcance_CSV"

# Validar si las rutas existen
if os.path.exists(ruta_parquet):
    print(f"La ruta {ruta_parquet} existe.")
else:
    print(f"La ruta {ruta_parquet} no existe. Verifica su configuración.")

if os.path.exists(ruta_csv):
    print(f"La ruta {ruta_csv} existe.")
else:
    print(f"La ruta {ruta_csv} no existe. Verifica su configuración.")

archivos_parquet = [os.path.join(ruta_parquet, f) for f in os.listdir(ruta_parquet) if f.endswith('.parquet')]
archivo_mas_reciente = max(archivos_parquet, key=os.path.getctime)
df = pd.read_parquet(archivo_mas_reciente)
df_csv = pd.merge(df, mara, left_on='Material', right_on='Material_S4', how='left')
import datetime
semana_actual = datetime.datetime.now().isocalendar()[1]
año_actual = datetime.datetime.now().year
nombre_archivo = f'Alcance_Sem{semana_actual}_Año{año_actual}.csv'
df_csv.to_csv(os.path.join(ruta_csv, nombre_archivo), sep=';', decimal=',', index=False)

La ruta C:\Users\etorres.DERCOPARTS\DERCO CHILE REPUESTOS SpA\Planificación y abastecimiento - Documentos\KPI\Instock Semanal\tablero instock - VERSION\Parquet_Alcance existe.
La ruta C:\Users\etorres.DERCOPARTS\DERCO CHILE REPUESTOS SpA\Planificación y abastecimiento - Documentos\KPI\Gerenciamiento Alcances\PBI\Alcance_CSV existe.

In [78]:
df_csv.columns

Index(['Material', 'SEM', 'FC Prom', 'Total_Stock', 'Transito', 'Vta promedio',
       'Total_Stock_TDA', 'Año', 'Semana', 'Costo UN', 'Total_Stock_$',
       'Total_Stock_TDA_$', 'FC Prom_$', 'Transito_$', 'Vta promedio_$',
       'Alcance_CD', 'Alcance_TR', 'Alcance_TDA', 'Alcance_total', 'Cob_TR',
       'Cob_CD', 'Cob_TDA', 'Cob_Total', 'Stock_Piso_$', 'Material_S4',
       'Nombre Sector'],
      dtype='object')