In [88]:
import pandas as pd

file_path = r"C:\Users\etorres.DERCOPARTS\DERCO CHILE REPUESTOS SpA\Planificación y abastecimiento - Documentos\Planificación y Compras AFM\S&OP Demanda\Codigos Demanda\Parquets\Historia_Sell_Out (2024-10).parquet"

df2 = pd.read_parquet(file_path)
df2 = df2[~df2["Canal"].isin(["AP", "Sergo", "Retail"])]

In [90]:
import pandas as pd

df = pd.read_excel(
    r"C:\Users\etorres.DERCOPARTS\DERCO CHILE REPUESTOS SpA\Planificación y abastecimiento - Documentos\Planificación y Compras AFM\S&OP Demanda\Codigos Demanda\pivot_table1.xlsx")

In [91]:
df_melted = pd.melt(
    df,
    id_vars=["Canal", "Material", "id"],
    var_name="Variable",
    value_name="Valor"
)
df_melted

              Canal  Material                 id             Variable  Valor
0        Agroplanet   1000144  1000144Agroplanet  2018-01-01 00:00:00    0.0
1        Agroplanet   1000147  1000147Agroplanet  2018-01-01 00:00:00    0.0
2        Agroplanet   1000148  1000148Agroplanet  2018-01-01 00:00:00    0.0
3        Agroplanet   1000149  1000149Agroplanet  2018-01-01 00:00:00    0.0
4        Agroplanet   1000150  1000150Agroplanet  2018-01-01 00:00:00    0.0
...             ...       ...                ...                  ...    ...
4911385  Autoplanet    762605   762605Autoplanet  2024-10-01 00:00:00    0.0
4911386  Autoplanet    762622   762622Autoplanet  2024-10-01 00:00:00    0.0
4911387  Autoplanet    762644   762644Autoplanet  2024-10-01 00:00:00    0.0
4911388  Autoplanet    762648   762648Autoplanet  2024-10-01 00:00:00    0.0
4911389  Autoplanet    762666   762666Autoplanet  2024-10-01 00:00:00    0.0

[4911390 rows x 5 columns]

In [93]:
total_valor = df_melted.loc[df_melted["Variable"] == "2024-04-01 00:00:00", "Valor"].sum()
total_valor

0.0

In [94]:
df_melted = df_melted.rename(columns={"Variable": "Mes", "Valor": "Venta UMB"})
df_melted["Canal 3"] = df_melted["Canal"].apply(
    lambda x: "CL AGROPLANET" if x == "Agroplanet" else "CL AUTOPLANET"
)

In [95]:
df3 = pd.concat([df2, df_melted], ignore_index=True)

In [107]:
df_melted['Venta UMB'].sum()

51400485.5

In [108]:
df3

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3,id
0,2021-10-01 00:00:00,1001511,Sodimac,0.0,Sell Out MB51 - SISO Oct-21,1001511,RALT,Sodimac,RALT,CL SODIMAC,NaN
1,2021-10-01 00:00:00,1001513,Sodimac,0.0,Sell Out MB51 - SISO Oct-21,1001513,RALT,Sodimac,RALT,CL SODIMAC,NaN
2,2021-11-01 00:00:00,1001513,Sodimac,0.0,Sell Out MB51 - SISO Nov-21,1001513,RALT,Sodimac,RALT,CL SODIMAC,NaN
3,2021-10-01 00:00:00,1003950,Sodimac,0.0,Sell Out MB51 - SISO Oct-21,1003950,RALT,Sodimac,RALT,CL SODIMAC,NaN
4,2021-10-01 00:00:00,1003967,Sodimac,0.0,Sell Out MB51 - SISO Oct-21,1003967,RALT,Sodimac,RALT,CL SODIMAC,NaN
...,...,...,...,...,...,...,...,...,...,...,...
5304616,2024-10-01 00:00:00,762605,Autoplanet,0.0,NaN,NaN,NaN,NaN,NaN,CL AUTOPLANET,762605Autoplanet
5304617,2024-10-01 00:00:00,762622,Autoplanet,0.0,NaN,NaN,NaN,NaN,NaN,CL AUTOPLANET,762622Autoplanet
5304618,2024-10-01 00:00:00,762644,Autoplanet,0.0,NaN,NaN,NaN,NaN,NaN,CL AUTOPLANET,762644Autoplanet
5304619,2024-10-01 00:00:00,762648,Autoplanet,0.0,NaN,NaN,NaN,NaN,NaN,CL AUTOPLANET,762648Autoplanet
5304620,2024-10-01 00:00:00,762666,Autoplanet,0.0,NaN,NaN,NaN,NaN,NaN,CL AUTOPLANET,762666Autoplanet

In [97]:
total_venta_umb = df3.loc[df3["Mes"] == "2024-04-01", "Venta UMB"].sum()

In [98]:
total_venta_umb

0.0

In [99]:
df3['Mes'].unique()

array([Timestamp('2021-10-01 00:00:00'), Timestamp('2021-11-01 00:00:00'),
       Timestamp('2019-08-01 00:00:00'), Timestamp('2019-09-01 00:00:00'),
       Timestamp('2019-10-01 00:00:00'), Timestamp('2019-11-01 00:00:00'),
       Timestamp('2019-12-01 00:00:00'), Timestamp('2020-01-01 00:00:00'),
       Timestamp('2020-02-01 00:00:00'), Timestamp('2020-03-01 00:00:00'),
       Timestamp('2020-04-01 00:00:00'), Timestamp('2020-05-01 00:00:00'),
       Timestamp('2020-06-01 00:00:00'), Timestamp('2020-07-01 00:00:00'),
       Timestamp('2020-08-01 00:00:00'), Timestamp('2020-09-01 00:00:00'),
       Timestamp('2020-10-01 00:00:00'), Timestamp('2020-11-01 00:00:00'),
       Timestamp('2020-12-01 00:00:00'), Timestamp('2021-01-01 00:00:00'),
       Timestamp('2021-02-01 00:00:00'), Timestamp('2021-03-01 00:00:00'),
       Timestamp('2021-04-01 00:00:00'), Timestamp('2021-05-01 00:00:00'),
       Timestamp('2021-06-01 00:00:00'), Timestamp('2021-08-01 00:00:00'),
       Timestamp('2021-07-01 00:00:00'), Timestamp('2021-09-01 00:00:00'),
       Timestamp('2021-12-01 00:00:00'), Timestamp('2022-01-01 00:00:00'),
       Timestamp('2022-02-01 00:00:00'), Timestamp('2022-03-01 00:00:00'),
       Timestamp('2022-04-01 00:00:00'), Timestamp('2022-05-01 00:00:00'),
       Timestamp('2022-06-01 00:00:00'), Timestamp('2022-07-01 00:00:00'),
       Timestamp('2022-08-01 00:00:00'), Timestamp('2022-09-01 00:00:00'),
       Timestamp('2022-10-01 00:00:00'), Timestamp('2022-11-01 00:00:00'),
       Timestamp('2022-12-01 00:00:00'), Timestamp('2023-01-01 00:00:00'),
       Timestamp('2023-02-01 00:00:00'), Timestamp('2023-03-01 00:00:00'),
       Timestamp('2023-04-01 00:00:00'), Timestamp('2023-05-01 00:00:00'),
       Timestamp('2023-06-01 00:00:00'), Timestamp('2023-07-01 00:00:00'),
       Timestamp('2023-08-01 00:00:00'), Timestamp('2023-09-01 00:00:00'),
       Timestamp('2023-10-01 00:00:00'), Timestamp('2023-11-01 00:00:00'),
       Timestamp('2023-12-01 00:00:00'), Timestamp('2024-01-01 00:00:00'),
       Timestamp('2024-02-01 00:00:00'), Timestamp('2024-03-01 00:00:00'),
       Timestamp('2024-04-01 00:00:00'), Timestamp('2024-05-01 00:00:00'),
       Timestamp('2024-06-01 00:00:00'), Timestamp('2024-07-01 00:00:00'),
       Timestamp('2024-08-01 00:00:00'), Timestamp('2024-09-01 00:00:00'),
       Timestamp('2018-06-01 00:00:00'), Timestamp('2018-07-01 00:00:00'),
       Timestamp('2018-08-01 00:00:00'), Timestamp('2018-09-01 00:00:00'),
       Timestamp('2018-10-01 00:00:00'), Timestamp('2018-11-01 00:00:00'),
       Timestamp('2018-12-01 00:00:00'), Timestamp('2019-01-01 00:00:00'),
       Timestamp('2019-02-01 00:00:00'), Timestamp('2019-03-01 00:00:00'),
       Timestamp('2019-04-01 00:00:00'), Timestamp('2019-05-01 00:00:00'),
       Timestamp('2019-06-01 00:00:00'), Timestamp('2019-07-01 00:00:00'),
       Timestamp('2018-01-01 00:00:00'), Timestamp('2018-02-01 00:00:00'),
       Timestamp('2018-03-01 00:00:00'), Timestamp('2018-04-01 00:00:00'),
       Timestamp('2018-05-01 00:00:00'), Timestamp('2024-10-01 00:00:00')],
      dtype=object)

In [109]:
df3

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3,id
0,2021-10-01 00:00:00,1001511,Sodimac,0.0,Sell Out MB51 - SISO Oct-21,1001511,RALT,Sodimac,RALT,CL SODIMAC,NaN
1,2021-10-01 00:00:00,1001513,Sodimac,0.0,Sell Out MB51 - SISO Oct-21,1001513,RALT,Sodimac,RALT,CL SODIMAC,NaN
2,2021-11-01 00:00:00,1001513,Sodimac,0.0,Sell Out MB51 - SISO Nov-21,1001513,RALT,Sodimac,RALT,CL SODIMAC,NaN
3,2021-10-01 00:00:00,1003950,Sodimac,0.0,Sell Out MB51 - SISO Oct-21,1003950,RALT,Sodimac,RALT,CL SODIMAC,NaN
4,2021-10-01 00:00:00,1003967,Sodimac,0.0,Sell Out MB51 - SISO Oct-21,1003967,RALT,Sodimac,RALT,CL SODIMAC,NaN
...,...,...,...,...,...,...,...,...,...,...,...
5304616,2024-10-01 00:00:00,762605,Autoplanet,0.0,NaN,NaN,NaN,NaN,NaN,CL AUTOPLANET,762605Autoplanet
5304617,2024-10-01 00:00:00,762622,Autoplanet,0.0,NaN,NaN,NaN,NaN,NaN,CL AUTOPLANET,762622Autoplanet
5304618,2024-10-01 00:00:00,762644,Autoplanet,0.0,NaN,NaN,NaN,NaN,NaN,CL AUTOPLANET,762644Autoplanet
5304619,2024-10-01 00:00:00,762648,Autoplanet,0.0,NaN,NaN,NaN,NaN,NaN,CL AUTOPLANET,762648Autoplanet
5304620,2024-10-01 00:00:00,762666,Autoplanet,0.0,NaN,NaN,NaN,NaN,NaN,CL AUTOPLANET,762666Autoplanet

In [100]:
df3["Material"] = df3["Material"].astype(str)

output_path = r"C:\Users\etorres.DERCOPARTS\DERCO CHILE REPUESTOS SpA\Planificación y abastecimiento - Documentos\Planificación y Compras AFM\S&OP Demanda\Codigos Demanda\Parquets\Historia_Sell_Out (2024-10)_Canales.parquet"
df3.to_parquet(output_path, index=False)

In [110]:
# Crear el pivot table con valores vacíos reemplazados por 0
pivot_df3 = df3.pivot_table(
    index=["Material", "Canal"],
    columns="Mes",
    values="Venta UMB",
    aggfunc="sum",
    fill_value=0
).reset_index()

# Guardar el archivo como Excel
output_excel_path = r"C:\Users\etorres.DERCOPARTS\DERCO CHILE REPUESTOS SpA\Planificación y abastecimiento - Documentos\Planificación y Compras AFM\S&OP Demanda\Codigos Demanda\Parquets\Historia_Sell_Out (2024-10)_Canales_pivot.xlsx"
pivot_df3.to_excel(output_excel_path, index=False)

In [111]:
pivot_df3

Mes,Material,Canal,2018-01-01 00:00:00,2018-02-01 00:00:00,2018-03-01 00:00:00,2018-04-01 00:00:00,2018-05-01 00:00:00,2018-06-01 00:00:00,2018-07-01 00:00:00,2018-08-01 00:00:00,...,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00,2024-08-01 00:00:00,2024-09-01 00:00:00,2024-10-01 00:00:00
0,1000033,Autoplanet,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1000078,Autoplanet,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1000105,Autoplanet,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1000137,Autoplanet,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1000143,Autoplanet,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87674,762605,Autoplanet,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
87675,762622,Autoplanet,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
87676,762644,Autoplanet,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
87677,762648,Autoplanet,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
87678,762666,Autoplanet,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0